{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}     
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Mobile</h1>
							<p class="font-weight-bold">Native cTrader applications for trading on iOS and Android devices. These combine rich charting functionalities, advanced order types, and a selection of important account information.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader for Mobile    </h2>
                            <p class="" id="" style="">
        Your traders can access their account from literally anywhere, thanks to the cTrader applications for iOS and Android. Both versions of the app use native Android and iOS design patterns, layouts and controls, which reduce the learning curve for new users by providing them with an already-familiar platform. The platform is available in 22 languages, further extending accessibility to an international customer base.    </p>
                            <p class="font-weight-bolder" id="" style="">
        The below links will direct you to a demo application, where there is no real trading available. This is an environment for brokers or traders to test the features of the application only.    </p>
                            <div  class="pure-g text-center" style="
        ">
            <div class="pure-u-1-2" style="">
                        
                            <a href="https://play.google.com/store/apps/details?id=com.spotware.ct&amp;hl=en" target="_blank"><img src="../../user/pages/02.ctrader/01.trading/09.ctrader-mobile-trading-platform/_a-for_mobile/android_app_logo.png"
                                    class=""
            alt="">
</a>            
                                </div>
            <div class="pure-u-1-2" style="">
                        
                            <a href="https://itunes.apple.com/us/app/spotware-ctrader/id767428811?ls=1&amp;mt=8" target="_blank"><img src="../../user/pages/02.ctrader/01.trading/09.ctrader-mobile-trading-platform/_a-for_mobile/ios_app_logo.png"
                                    class=""
            alt="">
</a>            
                                </div>
    </div>            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-2-3" style="">
                        
                            <img src="../../user/pages/02.ctrader/01.trading/09.ctrader-mobile-trading-platform/_a-for_mobile/top_mobile.png"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text">
                <h4 class="p-0 m-0">Mobile trading platforms are a basic requirement for today’s brokers, that’s why cTrader mobile apps come as a part of the core package.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Fluid Charting    </h2>
                            <p class="" id="" style="">
        In full-screen charting mode, traders can enjoy fluid and responsive charts, which can be moved in any direction. This helps traders make full use of the 26 timeframes and over 50 indicators, available in the app. Charts boast handy features, such as pinch-to-zoom, fling to scroll forward or backward in time for long periods of time, and a double-tap action to re-center and reset the chart to the closest pre-set zoom level.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-2-3" style="">
                        
                            <img src="../../user/pages/02.ctrader/01.trading/09.ctrader-mobile-trading-platform/_c-fluid_charting/fluid-charting.png"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-2-3" style="">
                        
                            <img src="../../user/pages/02.ctrader/01.trading/09.ctrader-mobile-trading-platform/_c-fluid_charting/trading_symbol.png"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Trading    </h2>
                            <p class="font-weight-bold" id="" style="">
        Trading really can be done effectively on a mobile device, thanks to smart design and intuitive user controls. There are two ways to trade: either by using QuickTrade, or by means of order tickets. QuickTrade buttons allow an immediate market order to be sent upon a single tap of a button, for fast decision-making. QuickTrade uses traders’ preset preferences.    </p>
                            <p class="font-weight-bold" id="" style="">
        Order tickets, on the other hand, allow traders to submit market, limit, stop and stop limit orders, where order size, protection levels and settings can be applied from an easy-to-use order form.    </p>
                            <h2 class="" id="" style="">
        Symbol Information    </h2>
                            <p class="font-weight-bold" id="" style="">
        Traders are kept up-to-date on symbol information with a comprehensive symbol overview screen. This allows traders to view all important symbol information, consolidated into one space.    </p>
                            <p class="font-weight-bold" id="" style="">
        Traders can see typical symbol information, as well as live market sentiment, trading schedule, dynamic leverage schedule, links to external news sources, and their own trade statistics.    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-auto mr-3">
                                            <h6 class="text-white text-right my-0">Deliver a premium mobile trading<br> experience to your clients</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-3">
                    <a href="../../contact-us.html" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Trading History    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader mobile apps offer a full history of executed deals, closed positions and done orders, for client trading activity transparency. By means of a click on any deal in the list, the app navigates to a dedicated page, containing the complete range of deal details.    </p>
                            <p class="font-weight-bold" id="" style="">
        Now your clients will be able to see all the necessary information about their deals without having to leave their phone app.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="../../user/pages/02.ctrader/01.trading/09.ctrader-mobile-trading-platform/_e-trading_history/trading-history.png"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="../../user/pages/02.ctrader/01.trading/09.ctrader-mobile-trading-platform/_e-trading_history/cloud-functionality.png"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Cloud Functionality    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader mobile applications make full use of cTrader ID and its benefits. Traders can sign up or sign in with cTrader ID (which requires a username/email address and password), or with Facebook or Google authentication, for a truly seamless platform entry. Once a trader’s email address becomes known, they are able to receive email notifications for a variety of trading events affecting their account, including the price alerts they set up.    </p>
            
                        </div>        </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        In-app Notifications    </h2>
                            <p class="font-weight-bold" id="" style="">
        Traders can receive in-app notifications about order execution statuses, price alerts, symbol status info, and more. In-app notifications have their own allocated space, and users can dismiss them immediately by tapping on them. When multiple notifications are received for the same event type, they will be aggregated to prevent screen view obstruction.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="../../user/pages/02.ctrader/01.trading/09.ctrader-mobile-trading-platform/_e-trading_history/in-app-notifications.png"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
                </section>
        
                   {% endblock %}