{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}      
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Trading</h1>
							<p class="font-weight-bold">cTrader offers advanced trading capabilities with fast entry and execution, asynchronous order processing, level two pricing, a full range of advanced order types, as well as an abundance of information to support risk management and help investors make smarter trading choices.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Fast Entry and Execution    </h2>
                            <p class="" id="" style="">
        Traders grade your service, based on execution quality and speed. Your success will depend on how fast you can fill orders, and with cTrader they are filled in a matter of milliseconds. Furthermore, cTrader supports simultaneous order processing, which means multiple orders can be filled at once, with no order queue.    </p>
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_fast-entry/Fast-Entry-and-Execution_image_left.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_fast-entry/ctader_fullsize.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-right" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_fast-entry/Level_2_pricing.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Level II Pricing    </h2>
                            <p class="" id="" style="">
        cTrader’s depth of market shows the full range of executable prices, coming directly from liquidity providers. Orders are filled against the full order book, using Volume Weighted Average Price (VWAP).    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Advanced Order Protection</h2>
        </div>
    </div>
</div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Choice of Trigger Methods    </h2>
                            <p class="" id="" style="">
        Pending Orders and Stop Loss can be triggered by the opposite side, the second consecutive price, and even the second consecutive opposite price, to protect against erroneous prices.    </p>
                            <h2 class="" id="" style="">
        Advanced Order Protection    </h2>
                            <p class="" id="" style="">
        Advanced Take Profit can be used to scale out of a position at multiple levels, Stop Loss can be set to break-even, and Server Trailing Stops can be used to follow profitable positions.    </p>
                            <h2 class="" id="" style="">
        Stop-Out Type    </h2>
                            <p class="" id="" style="">
        cTrader offers two stop-out types. Smart Stop-Out gives the best chance of recovery in the unfortunate event that margin falls below stop-out level. The position that takes on the largest margin will be partially closed to maintain the position and the entry point. This algorithm protects margin, positions and balance. Fair Stop-Out, on the other hand, closes the largest margin-taking position entirely, as opposed to the most unprofitable position. This method frees as much margin as possible to protect the remaining positions.    </p>
                            <h2 class="" id="" style="">
        Quick Trade    </h2>
                            <p class="" id="" style="">
        Quick Trade can be used to open, close and modify orders, using either one or two clicks from every section of the platform. This allows traders to respond quickly to fast-moving markets.    </p>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_advanced_order_left/advance-order-types.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-7-12 d-flex">
                <div class="my-auto mx-auto">
                                            <h6 class="text-white text-right my-3">Attract traders from all backgrounds with a full menu of advanced order<br> types, and retain them with a fast and stable trading environment</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-5-12 d-flex">
                <div class="my-auto mx-auto">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-cover-center bg-line-effect py-5 text-center"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <h2 class="" id="" style="">
        Complete Range of Orders    </h2>
                    <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_complete_range_orders/pimgpsh_fullsize.png' %}"
                                    class=""
            alt="">
            </div>
</div>
            
<div id=""
     class="bg-white py-5 bg-left-top bg-norepeat"
     style="     min-height:612px;      background-image: url({% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_advanced_order_right/bg_data_2.png' %});          ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
            <div class="pure-u-1-2">
            &nbsp;
        </div>
        <div class="pure-u-1-2">
        <div class="orange-title-right mb-5">
            <h2>Advanced Order Protection</h2>
        </div>
    </div>
</div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_advanced_order_right/volume_tooltip.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Volume Tooltips    </h2>
                            <p class="" id="" style="">
        When selecting the volume of an order, it’s important to know the pip value, commission cost and margin required, without the fuss of working them out. Especially when a portfolio includes multiple asset classes with varying conditions. Volume tooltips do the job of keeping traders informed.    </p>
            
                                </div>
    </div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Symbol Info    </h2>
                            <p class="" id="" style="">
        Symbol information is critical, especially for stocks, where variables can differ wildly by exchange. cTrader ensures traders are explicitly informed via symbol i-Windows, which promote all properties, including trading hours, lot size, commissions, swaps, base and quote asset etc.    </p>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_advanced_order_right/symbolinfo.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_advanced_order_right/marketsnapshot.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Market Snapshot    </h2>
                            <p class="" id="" style="">
        Deal tickets include a snapshot of the order book, to help traders understand the price their order was filled at. Furthermore, every Deal, Order or Position ticket contains up to 50 fields of information, and a detailed timeline of events, to ensure traders stay informed at every step.    </p>
            
                                </div>
    </div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Watchlists    </h2>
                            <p class="" id="" style="">
        Unlimited watchlists can be created to save and categorize favorite symbols, as well as to keep them in the cloud for an anywhere-anytime access. Watchlists can further be detached and moved around the workspace, to monitor prices and trade when opportunity strikes.    </p>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_advanced_order_right/watchlist.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_advanced_order_right/market-sentiment.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Market Sentiment    </h2>
                            <p class="" id="" style="">
        A live market sentiment indicator displays the ratio of long vs short positions of all other trades, using cTrader across all supported brokers. This tool is perfect to help with making a decision on whether to enter or exit the market.    </p>
            
                                </div>
    </div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Email Alerts    </h2>
                            <p class="" id="" style="">
        Traders can configure a range of email alerts, to get notified about important events in their account. Available alerts include Pending Orders, Stop Loss and Take Profits triggered, as well as deposits and withdrawals, Stop Out, and up to three custom margin call alerts at different levels.    </p>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/02.ctrader-trading-platform/_advanced_order_right/email-alerts.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
                </section>
        
               {% endblock %}