{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Charting</h1>
							<p class="font-weight-bold">cTrader unites the most important attributes a trading platform should have. It caters to every type of trader by offering a modern and intuitive platform, which combines high performance from any location or device, with rich charting and analysis tools. All features are easy to find, apply and modify.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5 bg-right-center bg-norepeat"
     style="     min-height:507px;      background-image: url({% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_trading/ctrader_chart_Top_image.png' %});          ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Chart Trading    </h2>
                            <p class="font-weight-bold" id="" style="">
        Charting and Trading in cTrader are complementary functions that seamlessly work together. cTrader’s Chart Trading is responsive and effective. Traders can create Market, Limit and Stop Orders with QuickTrade settings, to open orders with Stop Loss and Take Profit.    </p>
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_trading/image2_b.png' %}"
                                    class=""
            alt="">
                            <p class="font-weight-bold" id="" style="">
        Existing Orders and Positions can be modified at any time, by simply dragging and placing elements on the chart. This advanced functionality entirely bypasses order tickets, making trading even easier.    </p>
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_trading/image_2.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2" style="">
                        
                            <div class="" style="height: 32px"></div>                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/chart-views_1.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Chart Views    </h2>
                            <p class="font-weight-bold" id="" style="">
        A huge variety of charts to suit different strategies. There are 6 zoom levels for an in-depth or birds-eye view of currency price action, with line studies automatically adjusting to the timeframe and zoom level. Charts feature 54 time frames for:    </p>
                            <div  class="pure-g text-center" style="
        ">
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/candlessticks.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        Candlesticks    </p>
            
                                </div>
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/bar_charts.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        Bar Chart    </p>
            
                                </div>
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/HLC_chart.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        HLC Chart    </p>
            
                                </div>
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/Line_chart.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        Line Chart    </p>
            
                                </div>
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/Heikin_chart.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        Heikin Chart    </p>
            
                                </div>
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/dots_chart.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        Dots Chart    </p>
            
                                </div>
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/renko_chart.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        Renko Chart    </p>
            
                                </div>
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/range_chart.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        Range Chart    </p>
            
                                </div>
            <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-3 mb-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_views/tick_chart.png' %}"
                                    class=""
            alt="">
                            <p class="" id="" style="">
        Tick Chart    </p>
            
                                </div>
    </div>            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5 bg-right-center bg-norepeat"
     style="     min-height:530px;      background-image: url({% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_tech_analysis/technical-analysis_2.png' %});          ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-5-12" style="">
                        
                            <h2 class="" id="" style="">
        Technical Analysis    </h2>
                            <p class="font-weight-bold" id="" style="">
        All the tools needed for effective technical analysis, including trend indicators, oscillators, volatility measures and line drawings, are all accessible directly from the chart. Over 70 pre-installed indicators, as well as a number of objects, including shapes and text, are available.    </p>
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_tech_analysis/technical-analysis_1.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-7-12" style="">
                        
                            <div class="" style="height: 32px"></div>            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g mb-3" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente my-auto mr-3" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Custom Indicators    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader supports custom indicators, built in cTrader Automate, through the use of C#, or downloaded from the cTrader Store, which is part of a mature and engaged community of thousands of developers.    </p>
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_custom_indicators/custom_indicators_logos-1.png' %}"
                                    class=""
            alt="">
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_custom_indicators/custom_indicators_2.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_custom_indicators/chart-viewing-mode_screen.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <div class="" style="height: 64px"></div>                            <h2 class="" id="" style="">
        Chart Viewing Mode    </h2>
                            <p class="font-weight-bold" id="" style="">
        Charts are detachable, and act as a stand-alone, tradable desktop application, to be used across multiple screens. Each window includes all tools with a full-screen, resizable option. Inside the application, charts can be viewed, using different layout modes to fit any trading style.    </p>
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_custom_indicators/chart_viewing-mode_elements.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5 bg-right-center bg-norepeat"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        ChartShots™    </h2>
                            <p class="font-weight-bold" id="" style="">
        ChartShots™ are a great way to share ideas, trading examples, and technical analysis strategies with other traders. Click once with the ChartShot™ tool to open the image in a unique URL with multiple sharing options, available and fully brandable by brokers.    </p>
                            <p class="font-weight-bold" id="" style="">
        You can embed the chart directly into your web page or blog, or post it straight to your Facebook, Twitter, or any other social media platform.    </p>
                           
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_shots/chart_shots_2.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-light py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_templates/chart-temp_1.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <h2 class="" id="" style="">
        Chart Templates    </h2>
                            <p class="wont-weight-bold" id="" style="">
        cTrader makes it easier than ever to create and save chart templates for future use. Up to 50 templates can be saved to accommodate a variety of technical analysis strategies for different timeframes, chart types or symbols. Templates are accessible from any version of cTrader.    </p>
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/03.ctrader-charting/_chart_templates/chart-temp_2.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
                </section>
        
                   {% endblock %}