{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %} 
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Copy</h1>
							<p class="font-weight-bold">cTrader Copy is a copy trading service, filled with risk management tools and detailed strategy profiles, which providers can use to showcase their products. A solution, tailored for commitment-free investing.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5 bg-right-center bg-norepeat"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_investment_platform/copy.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        An Investment Platform    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader Copy is an overhaul of the mirror trading platform, formerly known as cMirror, which functions as a flexible investment platform and a fully-integrated feature of cTrader.    </p>
                            <p class="font-weight-bold" id="" style="">
        Any trader can become a Strategy Provider, and broadcast their trading signals to followers for a performance, management and volume fee. Investors can, in turn, discover strategies, and copy them without any long-term commitment.    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text">
                <h4 class="p-0 m-0">cTrader Copy is a core component of the cTrader Suite of trading platforms. It’s provided to all brokers at no extra charge.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Benefits for Brokers</h2>
        </div>
    </div>
</div>                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1" style="">
                        
                            <p class="text-center font-weight-bold" id="" style="">
        Offering a copy trading service enables brokers to access a whole new segment of investors. <br>cTrader Copy provides you with an effective solution that will:    </p>
            
                                </div>
            <div class="pure-u-1-1 pure-u-lg-1-6" style="">
                        
                            <div class="" style="height: 32px"></div>            
                                </div>
            <div class="pure-u-1-1 pure-u-lg-2-3" style="">
                        
                            <div  class="pure-g mb-2" style="
        ">
            <div class="pure-u-1-6 pure-u-md-1-12 pure-u-lg-1-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_benefits_for_brokers/Benfits-for-borkers.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-5-6 pure-u-md-11-12 pure-u-lg-11-12" style="">
                        
                            <h4 class="mb-2" id="" style="">
        Increase Acquisition    </h4>
                            <p class="" id="" style="">
        Attract and convert users who want to invest, rather than trade for themselves.    </p>
            
                                </div>
    </div>                            <div  class="pure-g mb-2" style="
        ">
            <div class="pure-u-1-6 pure-u-md-1-12 pure-u-lg-1-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_benefits_for_brokers/Benfits-for-borkers.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-5-6 pure-u-md-11-12 pure-u-lg-11-12" style="">
                        
                            <h4 class="mb-2" id="" style="">
        Extend Lifetime Value    </h4>
                            <p class="" id="" style="">
        Retain traders, who were not successful with their own trading strategies.    </p>
            
                                </div>
    </div>                            <div  class="pure-g mb-2" style="
        ">
            <div class="pure-u-1-6 pure-u-md-1-12 pure-u-lg-1-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_benefits_for_brokers/Benfits-for-borkers.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-5-6 pure-u-md-11-12 pure-u-lg-11-12" style="">
                        
                            <h4 class="mb-2" id="" style="">
        Higher Volumes    </h4>
                            <p class="" id="" style="">
        Offer Algorithmic Traders a solution to increase their income, by selling their automated strategies.    </p>
            
                                </div>
    </div>                            <div  class="pure-g mb-2" style="
        ">
            <div class="pure-u-1-6 pure-u-md-1-12 pure-u-lg-1-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_benefits_for_brokers/Benfits-for-borkers.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-5-6 pure-u-md-11-12 pure-u-lg-11-12" style="">
                        
                            <h4 class="mb-2" id="" style="">
        More Deposits    </h4>
                            <p class="" id="" style="">
        Onboard Strategy Providers and Money Managers, who will bring and actively recruit new investors.    </p>
            
                                </div>
    </div>                            <div  class="pure-g mb-2" style="
        ">
            <div class="pure-u-1-6 pure-u-md-1-12 pure-u-lg-1-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_benefits_for_brokers/Benfits-for-borkers.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-5-6 pure-u-md-11-12 pure-u-lg-11-12" style="">
                        
                            <h4 class="mb-2" id="" style="">
        Complete Offering    </h4>
                            <p class="" id="" style="">
        Increase your range of services and come closer to having a complete product offering.    </p>
            
                                </div>
    </div>                            <div  class="pure-g mb-2" style="
        ">
            <div class="pure-u-1-6 pure-u-md-1-12 pure-u-lg-1-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_benefits_for_brokers/Benfits-for-borkers.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-5-6 pure-u-md-11-12 pure-u-lg-11-12" style="">
                        
                            <h4 class="mb-2" id="" style="">
        Mature Marketplace    </h4>
                            <p class="" id="" style="">
        Give your investors thousands of strategies to choose from.    </p>
            
                                </div>
    </div>            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5 bg-left-top bg-norepeat"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
            <div class="pure-u-1-2">
            &nbsp;
        </div>
        <div class="pure-u-1-2">
        <div class="orange-title-right mb-5">
            <h2>Benefits for Users</h2>
        </div>
    </div>
</div>                    <div id="" class="text-center" data-animation=""><p class="" id="" style="">
        Anyone with a cTrader account can start using cTrader Copy, either as an investor or a Strategy Provider.    </p>
</div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
            <div class="mr-3 p-3 bg-light benefits-providers" style="
                                                
                ">            
                            <div id="" class="text-center" data-animation=""><h2 class="" id="" style="">
        Strategy Providers    </h2>
</div>                            <div id="" class="text-right" data-animation=""><p class="icon-green-after" id="" style="">
        Center stage of an open environment, offering infinite potential    </p>
</div>                            <div id="" class="text-right" data-animation=""><p class="icon-green-after" id="" style="">
        No induction period – start broadcasting from day one    </p>
</div>                            <div id="" class="text-right" data-animation=""><p class="icon-green-after" id="" style="">
        Choose exactly how much commission to charge your copiers    </p>
</div>                            <div id="" class="text-right" data-animation=""><p class="icon-green-after" id="" style="">
        Receive commissions collected from investors each day    </p>
</div>                            <div id="" class="text-right" data-animation=""><p class="icon-green-after" id="" style="">
        Broadcast strategies from your preferred cTrader broker    </p>
</div>                            <div id="" class="text-right" data-animation=""><p class="icon-green-after" id="" style="">
        Enjoy entire strategy page, available to embed on external sites    </p>
</div>            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
            <div class="ml-3 p-3 bg-light benefits-investors" style="
                                                
                ">            
                            <div id="" class="text-center" data-animation=""><h2 class="" id="" style="">
        Investors    </h2>
</div>                            <p class="icon-orange-before" id="" style="">
        Copy strategies of sophisticated traders already using cTrader    </p>
                            <p class="icon-orange-before" id="" style="">
        Keep control – start and stop copying a strategy at any time    </p>
                            <p class="icon-orange-before" id="" style="">
        Advanced risk management settings to protect your account    </p>
                            <p class="icon-orange-before" id="" style="">
        Full transparency, showing complete history and open positions    </p>
                            <p class="icon-orange-before" id="" style="">
        Rich analytics from detailed charts to help find the right strateg    </p>
                            <p class="icon-orange-before" id="" style="">
        Message Strategy Providers to ask questions before committing    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Primary Features</h2>
        </div>
    </div>
</div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-5-12 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Advanced Analytics    </h2>
                            <p class="font-weight-bold" id="" style="">
        Charts visually display Time Weighted ROI, Balance vs Equity, Breakdown of Traded Symbols and History of Followers. Charts can be adjusted to specific time periods. Strategy profiles include detailed tables of statistics to provide information and rich insights on performance and behavior.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-7-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_primary_features/advanced-analtyics.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_primary_features/copy_1.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <div class="" style="height: 48px;"></div>                            <h2 class="" id="" style="">
        Strategy Profiles    </h2>
                            <p class="" id="" style="">
        Strategy Providers can create detailed profiles to help them promote themselves. Descriptions can be added to provide supporting information about the strategy. Each strategy has its own URL, making it easy to share with prospective investors outside of the cTader platform.    </p>
            
                                </div>
            <div class="pure-u-1-1" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_primary_features/copy_2.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-auto mr-3">
                                            <h6 class="text-white text-right my-0">Boost volumes and increase retention <br>capabilities with cTrader Copy</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-3">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_primary_features_after/start-copy.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente my-auto ml-4" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Equity to Equity Copying    </h2>
                            <p class="font-weight-bold" id="" style="">
        Investors copy open positions as they begin to follow a strategy. The volume that will be copied is based on the equity-to-equity ratio, according to the amount allocated to the strategy. An investor can set an Equity Stop Loss to stop copying altogether, when equity falls below a certain level.    </p>
            
                        </div>        </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente my-auto mr-5" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Favorites    </h2>
                            <p class="font-weight-bold" id="" style="">
        Investors can bookmark strategies they are interested in to watch, monitor, and come back to them later. At the same time, all strategies that are being followed are listed for easy reference and ability to modify settings at any point.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_primary_features_after/favorites.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Fee Structures</h2>
        </div>
    </div>
</div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4" style="">
                        
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-3-4" style="">
                        
                            <div  class="pure-g mb-4" style="
        ">
            <div class="pure-u-1-6 pure-u-md-1-6 pure-u-lg-1-6" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_primary_features_after/volum-based-commision.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-5-6 pure-u-md-5-6 pure-u-lg-5-6" style="">
            <div class="ml-4" style="
                                                
                ">            
                            <h2 class="mb-1" id="" style="">
        Volume-Based Commissions    </h2>
                            <p class="" id="" style="">
        Strategy Providers can charge commissions based on the volume that their investors have traded, while copying their strategy. Volume fees are added to each position and charged once for opening, and once for closing positions.    </p>
            
                        </div>        </div>
    </div>                            <div  class="pure-g mb-4" style="
        ">
            <div class="pure-u-1-6 pure-u-md-1-6 pure-u-lg-1-6" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/04.ctrader-copy/_primary_features_after/performanc-and-managment.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-5-6 pure-u-md-5-6 pure-u-lg-5-6" style="">
            <div class="ml-4" style="
                                                
                ">            
                            <h2 class="mb-1" id="" style="">
        Performance and Management    </h2>
                            <p class="" id="" style="">
        A popular method used by money managers, which allows them to take a percentage of their clients ROI, using a High Water Mark and a fee, according to the amount of money their investors have allocated.    </p>
            
                        </div>        </div>
    </div>            
                                </div>
    </div>            </div>
</div>
                </section>
        
                   {% endblock %}