{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}    
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Web</h1>
							<p class="font-weight-bold">A Web-based version of cTrader, which boasts the same complete set of charting and trading features, as the Windows Desktop version. It’s accessible from any popular browser, on any operating system, including MacOS.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader for Web    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader comes equipped with a web version of its online trading platform. cTrader Web offers desktop-version-identical functionality for manual trading and charting, allowing users to trade from a variety of devices and operating systems.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-2-3" style="">
                        
                            <img src="../../user/pages/02.ctrader/01.trading/08.ctrader-web-trading-platform/_a-for_web/top-screens.png"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text">
                <h4 class="p-0 m-0">Web trading platforms are a fundamental part of running an online brokerage, that’s why cTrader Web is included in cTrader’s core package.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-4 card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="../../user/pages/02.ctrader/01.trading/08.ctrader-web-trading-platform/_c-cards/access-any-device.png"
                                    class=""
            alt="">
                            <h2 class="" id="" style="">
        Access on Any Device    </h2>
                            <p class="" id="" style="">
        cTrader Web makes trading accessible from any device. While cTrader for Desktop is a Windows application, which must be pre-installed, cTrader Web can be used on any device that has an HTML5-compatible web browser, which by today’s technology standards, includes all of them. By accessing the platform through a browser, your clients can trade from anywhere, regardless of their laptop’s or desktop’s operating system.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-4 card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="../../user/pages/02.ctrader/01.trading/08.ctrader-web-trading-platform/_c-cards/ideal-for-mac-users.png"
                                    class=""
            alt="">
                            <h2 class="" id="" style="">
        Ideal for Mac Users    </h2>
                            <p class="" id="" style="">
        Given the ever-rising popularity of Apple computers and MacOS – cTrader deems it necessary to provide the perfect environment for its users. That’s why a lot of emphasis is put on supporting the Safari browser, and ensuring that Mac users get the best out of cTrader Web. Mac users may not yet have many options when it comes to trading platforms, but cTrader Web is a genuine and well-tested solution for them.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-2-3 d-flex">
                <div class="my-auto ml-auto mr-3">
                                            <h6 class="text-white text-right my-0">cTrader is the ultimate cross-device solution for banks and brokers<br> to deliver online trading platforms to their clients on any device.</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-3 d-flex">
                <div class="my-auto ml-3">
                    <a href="../../contact-us.html" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        The First HTML5 Platform    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader Web was the first online trading application in the FX space to take advantage of HTML5. The benefits of HTML5 made cTrader Web easy to deploy and distribute to numerous brokers and traders.    </p>
                            <p class="font-weight-bold" id="" style="">
        The application is able to incorporate many other technologies, including JavaScript and CSS, to deliver a rich, responsive and seamless experience.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-2-3" style="">
                        
                            <img src="../../user/pages/02.ctrader/01.trading/08.ctrader-web-trading-platform/_e-first_html5/html5.png"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Key Features</h2>
        </div>
    </div>
</div>                    <p class="text-center font-weight-bold" id="" style="">
        cTrader Web offers a number of key benefits for brokers, <br> who want to offer an easy-to-manage and effective-to-distribute online trading platform.    </p>
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-4 card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="../../user/pages/02.ctrader/01.trading/08.ctrader-web-trading-platform/_f-key_features/all-major-browser-supported.png"
                                    class=""
            alt="">
                            <h2 class="" id="" style="">
        Popular Browsers Supported    </h2>
                            <p class="" id="" style="">
        All popular browsers are supported. cTrader Web has been tested on Google Chrome, Safari and Mozilla Firefox.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-4 card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="../../user/pages/02.ctrader/01.trading/08.ctrader-web-trading-platform/_f-key_features/custom-url.png"
                                    class=""
            alt="">
                            <h2 class="" id="" style="">
        Custom URL    </h2>
                            <p class="" id="" style="">
        Your cTrader Web will be added to your DNS records, and will be accessible as a subdomain of your website.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-4 card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="../../user/pages/02.ctrader/01.trading/08.ctrader-web-trading-platform/_f-key_features/native-web-platform.png"
                                    class=""
            alt="">
                            <h2 class="" id="" style="">
        Native Web Platform    </h2>
                            <p class="" id="" style="">
        cTrader comes with a native web platform. There is no third-party tool, which must be purchased or managed.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-4 card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="../../user/pages/02.ctrader/01.trading/08.ctrader-web-trading-platform/_f-key_features/branded-web-platform.png"
                                    class=""
            alt="">
                            <h2 class="" id="" style="">
        Branded Web Platform    </h2>
                            <p class="" id="" style="">
        Like all other cTrader platforms, cTrader Web is brandable. It will incorporate your logo throughout the application process.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
                </section>
        
                   {% endblock %}