{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}   
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Overview</h1>
							<p class="font-weight-bold">cTrader is a complete trading platform solution for Forex and CFD brokers to offer their traders. The platform is packed with a full range of features to cater to each and every investment preference imaginable.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/01.ctrader-trading-platform-overview/_trade/ctrader_trade.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader Trade    </h2>
                            <p class="" id="" style="">
        <b>A Premium Charting and Manual Trading Platform</b><br> cTrader is a leading multi-asset Forex and CFD trading platform, offering rich charting tools, advanced order types, level II pricing, and fast entry and execution. With a stunning user interface, it’s connected to the most sophisticated backend technology, and made available on multiple devices.    </p>
                            <p class="m-0" id="" style="">
    <a href="{% url 'ctrader_charting_page' %}" target="_top" rel="" class="" style="">    > Learn more about cTrader Charting Features    </a></p>
                            <p class="m-0" id="" style="">
    <a href="{% url 'ctrader_trading_page' %}" target="_top" rel="" class="" style="">    > Learn more about cTrader Trading Features    </a></p>
            
                        </div>        </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader Copy    </h2>
                            <p class="" id="" style="">
        <b>A Revolutionary Investment Service</b><br> cTrader Copy enables anyone to become a Strategy Provider, and to broadcast their trading strategy for a commission or fee. Other traders can search and copy the strategies available, and enjoy a commitment-free investing. Additionally, traders can use their own risk management settings.    </p>
                            <p class="m-0" id="" style="">
    <a href="{% url 'ctrader_copy_page' %}" target="_top" rel="" class="" style="">    > Learn more about cTrader Copy    </a></p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/01.ctrader-trading-platform-overview/_copy/ctrader-copy.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/01.ctrader-trading-platform-overview/_automate/ctrader-automate.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader Automate    </h2>
                            <p class="" id="" style="">
        <b>An All-inclusive Algorithmic Trading Solution</b><br> cTrader Automate is a powerful and intuitive solution, giving traders the opportunity to develop algorithmic trading robots to automate their trading strategies. Traders can use cTrader’s modern C# API to write code inside the integrated development environment, as well as to test and optimize their robots and custom indicators.    </p>
                            <p class="m-0" id="" style="">
   </p>
            
                        </div>        </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader Open API    </h2>
                            <p class="" id="" style="">
        <b>Build your own applications using cTrader’s Open API</b><br> Build your own applications using cTrader’s Open API. It’s a free, secure and publicly accessible API for all. Developers can leverage cTrader’s established technologies to build their web, mobile or desktop applications, which can then be used to connect to, and trade with any cTrader account.    </p>
                            <p class="m-0" id="" style="">
    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/01.ctrader-trading-platform-overview/_open-api/open-api.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/01.ctrader-trading-platform-overview/_fix-api/fix-api.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader FIX API    </h2>
                            <p class="" id="" style="">
        <b>A FIX API to Trade via cTrader Accounts</b><br> cTrader provides the industry’s standard FIX API trading interface to every trader with their cTrader account. There is no cost, commitment, or administration required for access. FIX API rules of engagement have been designed specifically for the requirements of retail traders, and have been further developed to accommodate trading with Hedging Accounts.    </p>
                            <p class="m-0" id="" style="">
    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader Web    </h2>
                            <p class="" id="" style="">
        <b>A Web-Based Version of cTrader for Any Desktop Browser</b><br> cTrader Web provides fast and easy access to all cTrader features from any popular browser. The solution is available without installation, and provides means of access to cTrader for users with Windows, Mac or Linux operating systems.    </p>
                            <p class="m-0" id="" style="">
    <a href="{% url 'ctrader_trading_page' %}" target="_top" rel="" class="" style="">    > Learn more about cTrader Web    </a></p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/01.ctrader-trading-platform-overview/_web/web.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g row-class" style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/01.trading/01.ctrader-trading-platform-overview/_mobile/mobile.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader Mobile    </h2>
                            <p class="" id="" style="">
        <b>Native cTrader Mobile Applications for iOS and Android</b><br> Traders can download the native cTrader app on their mobile device from either the App Store or Google Play Store. Both versions are optimized for tablet displays, and offer a variety of key features to enable effective on-the-go trading and analysis from anywhere in the world.    </p>
                            <p class="m-0" id="" style="">
    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
                </section>
        
                    
{% endblock %}