{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}      
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Reporting</h1>
							<p class="font-weight-bold">All business reporting needs are satisfied through the cBroker platform, which provides transparent access to all events occuring inside your trading environment and within your daily operations.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-11-24 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cBroker as a Reporting Tool    </h2>
                            <p class="font-weight-bold" id="" style="">
        cBroker is an all-inclusive, broker-oriented platform, ergonomically designed to allow quick information discovery and prompt insight delivery. cBroker’s structure allows you to easily navigate between different sections to extract all necessary information about traders’ and managers’ activity, combined with minimum-loading-time order execution.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-13-24" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_a-reporting_tools/cbroker-as-reporting-tool.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-7-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_a-reporting_tools/intuitive-grids-and-panels.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-5-12 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Intuitive Grids and Panels    </h2>
                            <p class="font-weight-bold" id="" style="">
        Most information available in cBroker is displayed in grids, which are searchable, sortable and adjustable. cBroker managers can select columns to be displayed and apply filters to displayed results. This way, relevant-information-focus is guaranteed.    </p>
                            <p class="font-weight-bold" id="" style="">
        Furthermore, all grids feature export buttons, positioned throughout the application for managers with permission. They are able to export information to all cBroker entities and post-process it in a section of their choice.    </p>
            
                        </div>        </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-11-24 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Journal    </h2>
                            <p class="font-weight-bold" id="" style="">
        cBroker offers access to an extensive journal of records, containing all activities taking place on the server. The cBroker journal allows you to easily monitor who did what, and when, at all times. Details shown include:    </p>
                            <p class="font-weight-bold mb-1" id="" style="">
        > Manager activity in cBroker: login time and all changes applied.    </p>
                            <p class="font-weight-bold mb-1" id="" style="">
        > Trader orders created, modified and filled.    </p>
                            <p class="font-weight-bold mb-1" id="" style="">
        > Trader positions opened, modified and closed.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-13-24" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_a-reporting_tools/journal.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text">
                <h4 class="p-0 m-0">Never miss a beat with intricate, real-time reporting<br> methods to analyze your business to it’s core.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-7-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_c-exposure/exposure.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-5-12 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Exposure    </h2>
                            <p class="font-weight-bold" id="" style="">
        View exposure in real-time, either by Quote Asset or Symbol, with instant ability to monitor which users have positions influencing the exposure of those assets or symbols.    </p>
                            <p class="font-weight-bold" id="" style="">
        Your exposure can also be extracted to MS Excel or any other database / external report management software, using the Reporting API or DDE functionality. This gives one the ability to run powerful reports and match exposures between different books and platforms.    </p>
            
                        </div>        </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Orders    </h2>
                            <p class="font-weight-bold" id="" style="">
        cBroker lets you view every pending order in the system in great detail. This includes order direction, volume, expected price and order type. This section helps you plan your risk management and spot upcoming trends. You can also view all Done Orders for an in-depth, post-trade analysis. Orders can be viewed based on time range or period, and filtered by type, status, groups and channels.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_c-exposure/order_1.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_c-exposure/order_2.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-2-3 d-flex">
                <div class="my-auto ml-auto mr-3">
                                            <h6 class="text-white text-right my-0">cTrader equips brokers with a large variety of reports, providing instant knowledge<br> and insight into the activities of your trading environment.</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-3 d-flex">
                <div class="my-auto ml-3">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-7-12" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_e-features/deals.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-5-12 d-flex" style="">
            <div class="align-self-cente my-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Deals    </h2>
                            <p class="font-weight-bold" id="" style="">
        View every single deal within a chosen time period. Use a variety of tabs, filters, columns and summaries to construct the perfect template, assess key performance indicators and truly analyze your business. Information can be aggregated to review KPI’s per deal, trading account, IB, channel and symbol. From here you can see detailed information summaries of traded volume, number of deals, total broker P&L, total trader P&L, and much more.    </p>
            
                        </div>        </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 d-flex" style="">
            <div class="align-self-cente my-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Positions    </h2>
                            <p class="font-weight-bold" id="" style="">
        View all open positions in real time. This section can be used to help understand the origin of exposure and report unrealized revenues. cBroker also displays all closed positions to help you understand the average duration of each one.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-2-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_e-features/positions.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_e-features/transaction_1.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente my-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Transactions    </h2>
                            <p class="font-weight-bold" id="" style="">
        Report for all types of transactions to understand the flow of funds which are inbound, outbound and part of internal processes. You can account separately for client payments, IB commissions, cMirror commissions, bonus conversions, admin fees, dividends, and more. Using a combination of grouping tools, you can filter search results to refine the information displayed.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_e-features/transaction_2.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 d-flex" style="">
            <div class="align-self-cente my-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Execution Reporting    </h2>
                            <p class="font-weight-bold" id="" style="">
        Observe every piece of information on order execution events. cBroker facilitates easy investigation and fast resolution of trader inquiries. You can track details of all submitted orders, as well as access the information on processed deals, resulting positions and order rejections. You’re equipped with a transparent timeline for orders and deals, recording all execution events. Furthermore, you can efficiently manage any dispute with IP Address logging and Market Snapshot information, stored in every deal.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-2-3" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_e-features/execution-reporting.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/04.ctrader-reporting/_e-features/email-alerts.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente my-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Email Statements    </h2>
                            <p class="font-weight-bold" id="" style="">
        Enable end-of-day email statements to get a snapshot of clients’ daily equity and P&L. Statements are created at a specified time, and you can further choose groups of traders included, recipients of the HTML file and the currency the report is generated in. Additionally, you can engage your traders with their own end-of-day statements and advise them on their activities and account status.    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
           
                </section>
        
                   {% endblock %}