{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Partner Programs</h1>
							<p class="font-weight-bold">cTrader’s native, multi-level partner program comes at no additional cost. It allows brokers and IBs to maximize their profits by designing tailor-made remuneration schemes.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Multi-Level Structure    </h2>
                            <p class="font-weight-bold" id="" style="">
        There is no limit to the number of clients, who can be linked to a single account, be it directly or indirectly. The cTrader Partner Program supports unlimited levels of IBs. This allows IBs to profit if their clients also become IBs, and continue to profit if they recruit other IBs. Sub-IBs help their parent IBs achieve goals and climb the rank structure.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-right" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_a-ml_structure/multi-level.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_a-ml_structure/rank_rewards_1.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2" style="">
            <div class="text-right mr-5" style="
                                                
                ">            
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_a-ml_structure/rank_rewards_2.png' %}"
                                    class=""
            alt="">
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto ml-4" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Ranks and Rewards    </h2>
                            <p class="font-weight-bold" id="" style="">
        To motivate their partners to trade higher volumes, brokers can offer up to 10 ranks. Each rank will have specific criteria to meet, and once that’s done, the partner will receive the higher compensation, applied to the rank. All settings are highly flexible, allowing brokers to offer unique partnership programs, directly reflecting their IBs’ objectives.    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <h2 class="text-center" id="" style="">
        Flexible Remuneration Models    </h2>
                    <p class="text-center font-weight-bold mb-5" id="" style="">
        To ensure maximum flexibility, the cTrader Partner Program supports a variety of remuneration models. All settings are configured on a per symbol, per partner basis, in both, pips and commission. The payouts are realized at midnight UTC each day. Everything is automatically processed by the system, so no extra action is required from the broker.    </p>
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-3" style="">
                        
                            <div class="card h-100 mx-5 border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_b-flexible_models/arrows_in_foxed.png' %}"
                                    class=""
            alt="">
                            <div class="" style="height: 19px"></div>                            <h2 class="font-weight-bolder mb-2" id="" style="">
        Fixed<br> Fees    </h2>
                            <p class="" id="" style="">
        IBs are paid a fixed amount. Parent-IBs, if existent, get paid a percentage of that fixed amount, which varies, depending on the rank of their Sub-IB. The Parent-IB’s percentage is paid directly by the Sub-IB.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-3" style="">
                        
                            <div class="card h-100 mx-5 border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_b-flexible_models/shared-fixed-fees.png' %}"
                                    class=""
            alt="">
                            <h2 class="font-weight-bolder mb-2" id="" style="">
        Shared<br> Fixed Fees    </h2>
                            <p class="" id="" style="">
        A fixed amount is applied, and this is the maximum amount the IB can earn. Percentages, applied to ranks, determine the percentage of the total amount paid to the IB, and what is shared with the Parent-IB.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-3" style="">
                        
                            <div class="card h-100 mx-5 border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_b-flexible_models/share-broker-fees.png' %}"
                                    class=""
            alt="">
                            <h2 class="font-weight-bolder mb-2" id="" style="">
        Shared<br> Broker Fees    </h2>
                            <p class="" id="" style="">
        IBs get paid a percentage of the markup and commissions, charged to their clients. Percentages are configured to determine how markup and commissions are shared between the IB, the Parent-IB, and the broker. Percentages are adjustable per rank.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-2-3 d-flex">
                <div class="my-auto mx-auto">
                                            <h6 class="text-white text-left my-0">Benefit from a <strong>highly-customizable partnership program</strong> functionality that offers flexible schemes and a variety of tools to achieve desired objectives.</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-3 d-flex">
                <div class="my-auto mx-auto">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <h2 class="text-center" id="" style="">
        IB Promotional Tools    </h2>
                    <p class="text-center font-weight-bold" id="" style="">
        cTrader Partner Program equips IBs with a range of marketing tools to promote services, motivate clients and track performance.    </p>
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Retention and Incentives    </h2>
                            <p class="font-weight-bold" id="" style="">
        IBs can reward their clients with credits and rebates. These are fully controlled by the broker, and can be enabled or disabled at any time. These tools help IBs incentivize their clients to trade higher volumes, helping them reach higher ranks and earn more.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_d-ib_tools/retention_incentives.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_d-ib_tools/unique_tracking_links.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-2-3 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Unique Tracking Links    </h2>
                            <p class="font-weight-bold" id="" style="">
        IBs can generate trackable links, which are unique to their trading accounts. Each IB can have multiple IB accounts with each of their brokers. Each of these accounts will have a unique tracking link. This allows IBs to use different trading accounts for each promotional channel and evaluate each channel’s performance.    </p>
            
                        </div>        </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente my-auto mr-5" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Strategy Copying    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader Copy, a flexible investment platform and copy trading service of cTrader, is further offered to IBs. By means of cTrader Copy, IBs can provide their trading strategy for traders to follow in an all-in-one platform format.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_d-ib_tools/strategy_copying.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_d-ib_tools/marketing-portal.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Marketing Materials    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader IBs have access to Spotware’s Marketing Portal, where they can find a range of cTrader marketing materials and tools to help them promote their services to prospective traders.    </p>
            
                        </div>        </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-2-3 d-flex">
                <div class="my-auto mx-auto">
                                            <h6 class="text-white text-left my-0"><b>Maximize your profits</b> by offering your clients a trading platform, which supports them as traders and partners, and delivers the ultimate <b>all-inclusive trading experience</b>.</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-3 d-flex">
                <div class="my-auto mx-auto">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <h2 class="text-center" id="" style="">
        Monitoring and Reporting    </h2>
                    <p class="text-center" id="" style="">
        cTrader Partner Program supports all the reporting and administration needs of brokers and IBs.    </p>
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-11-24 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto mr-5" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Partner Program in cBroker    </h2>
                            <p class="font-weight-bold" id="" style="">
        Partner Program is a dedicated IB application of cBroker. It allows brokers to manage all of their IBs, review any requests submitted by traders to become IBs, view a summary of all IB accounts and easily track all transactions.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-13-24 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_f-monitoring/partner-program-in-cbroker.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-13-24 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_f-monitoring/partner-centre-in-ctrader.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-11-24 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto ml-5" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Partner Center in cTrader    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader Partner Center is a single interface that has everything IBs need to manage and retain their clients across all brokers. From the cTrader Partner Center, IBs can view all direct clients, their balance, current volume, contact information, date of account creation and last login time, as well as a complete history of all their trades and revenues gained from every trade.    </p>
            
                        </div>        </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-11-24 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto mr-5" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Real-time Reporting    </h2>
                            <p class="font-weight-bold" id="" style="">
        Both, brokers and IBs, can generate detailed, real-time reports of their earnings and advances. This information can be exported and view summaries can be broken down into useful categories for further convenience. All calculations are done automatically, reducing manual work and error probability.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-13-24 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/06.ctrader-partner-programs/_f-monitoring/real_time_reporting.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
                </section>
        
                  {% endblock %}