{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}


                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Spread Betting</h1>
							<p class="font-weight-bold">To address the needs of UK brokers and their clients, cTrader supports multi-asset-class spread betting. It is available as a competitively-priced add-on to cTrader’s core product offering.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        cTrader and Spread Betting    </h2>
                            <p class="font-weight-bold" id="" style="">
        Spread Betting in cTrader is a native, built-in feature, used for a specific purpose. It is a low-cost add-on to the core cTrader package, which can be offered alongside Forex and CFD hedging accounts.    </p>
                            <p class="font-weight-bold" id="" style="">
        Spread Betting is compatible with your entire range of markets and orders are processed just like they would be for CFD trading accounts: using the same market data and liquidity providers    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/08.ctrader-spread-betting/_a-spread/top_image.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text">
                <h4 class="p-0 m-0">Offer a tax-free alternative for UK residents to speculate on financial markets.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white pt-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="card card-dotted h-100 mx-2 mb-5 border-0 shadow" style="">
                <div class="card-body ">
                            <div  class="pure-g my-4" style="
        ">
            <div class="pure-u-1-4 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/08.ctrader-spread-betting/_c-what_is_spread/what-is-spread-betting.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-3-4" style="">
                        
                            <h2 class="mb-4" id="" style="">
        What is Spread Betting    </h2>
                            <p class="font-weight-bold" id="" style="">
        Spread Betting isn’t all that different from CFD trading. From a trader’s perspective, it’s the way they enter the order that makes a change. Instead of choosing the volume of their order, they choose their stake, which is essentially the amount they want to win or lose per each pip that the market moves in or against their favor.    </p>
            
                                </div>
    </div>                    </div>
        </div>
            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-7-12 d-flex">
                <div class="my-auto ml-auto mr-3">
                                            <h6 class="text-white text-right my-0">cTrader is the ultimate solution for banks and brokers to deliver<br> online trading platforms to their clients on any device.</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-5-12 d-flex">
                <div class="my-auto ml-3">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card card-dotted h-100 mx-3 border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/08.ctrader-spread-betting/_e-benefits/spread-bettibng-in-ctrader.png' %}"
                                    class=""
            alt="">
                            <h2 class="" id="" style="">
        Spread Betting in cTrader    </h2>
                            <p class="" id="" style="">
        Spread Betting in cTrader is an account type, which means a trader can own both – CFD trading and Spread Betting accounts, and switch between them in two clicks / taps, on desktop, web, iOS and Android versions of cTrader. Spread Betting is also compatible with Limited Risk Accounts and Guaranteed Stop Losses.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card card-dotted h-100 mx-3 border-0 shadow text-center" style="">
                <div class="card-body ">
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/02.back-office/08.ctrader-spread-betting/_e-benefits/settings-for-spread-betting.png' %}"
                                    class=""
            alt="">
                            <h2 class="" id="" style="">
        Settings for Spread Betting    </h2>
                            <p class="" id="" style="">
        Boost your revenues by using cTrader white labels as a vessel to distribute your liquidity to smaller institutions, who either can’t yet justify the cost of being a direct client of Spotware, or simply prefer the ease of a multi-product solution, combining both – trading platform and brokerage services from an established company.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
                </section>
        
                   {% endblock %}