{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}   
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Extensibility</h1>
							<p class="font-weight-bold">A complete enterprise solution, designed for banks, brokers and exchanges to easily integrate cTrader with their existing business management platforms.</p>
			</div>
</div>
            
<div id=""
     class="py-5 bg-norepeat bg-right-top"
     style="     min-height:675px;      background-image: url({% static 'spotwarectrader/user/pages/02.ctrader/03.server/03.ctrader-extensibility/_a-integration/top-image.png' %});          ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Integration    </h2>
                            <p class="font-weight-bold" id="" style="">
        Today’s modern businesses rely on a number of different systems and platforms, working side by side to complement one another. This is why cTrader was designed to be easily integrable and to seamlessly communicate with any external business management platform. All services have been well-documented and 24/5 integration specialists’ assistance is offered to ensure efficient integration and minimal time to market.    </p>
                            <h2 class="" id="" style="">
        Common and Open Technologies    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader uses common technologies like SOAP, JSON, Postgres and Google Protocol Buffers to allow access for generic developers and platforms using these technologies. No need to hire specialized personnel or employ sector-specific solutions.    </p>
                            <h2 class="" id="" style="">
        Sandbox    </h2>
                            <p class="font-weight-bold" id="" style="">
        Get access to a sandbox environment to integrate and test any of the described components, without interfering with Live or Demo environments your traders are using.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-center" style="">
                        
                            <div class="" style="height: 533px"></div>            
                                </div>
    </div>            </div>
</div>
            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text">
                <h4 class="p-0 m-0">With cTrader you are not limited to technology that Spotware provides or approves. You are free to integrate with any CRM or trader’s room of your choice.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="card mx-2 mb-5 border-0 shadow" style="">
                <div class="card-body ">
                            <div  class="pure-g my-4" style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/03.ctrader-extensibility/_c-easy_data_access/easy-access-data.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        Easy Data Access    </h2>
                            <p class="" id="" style="">
        Your cTrader environments will be full of valuable information not just for your compliance, business and risk analysts, but also for sales, retention and marketing teams. Easily extract key metrics about users and their behavior to trigger specific actions, like an automated email or a phone call. Your compliance department will, in turn, have swift access to well-structured data to consolidate reports for any jurisdiction.    </p>
            
                                </div>
    </div>                    </div>
        </div>
            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Integration Methods</h2>
        </div>
    </div>
</div>                    <p class="text-center font-weight-bold" id="" style="">
        Spotware provides three distinct services for you to communicate with your cTrader Server.<br> Webservices API > Reporting API > Reporting Database    </p>
                    <img src="{% static 'spotwarectrader/pages/02.ctrader/03.server/03.ctrader-extensibility/_d-methods/Integration-Methods.png' %}"
                                    class=""
            alt="">
                    <h2 class="text-center" id="" style="">
        Web Services API    </h2>
                    <p class="text-center font-weight-bold" id="" style="">
        The Web Services API allows you to integrate cTrader with your registration forms, trader’s room and CRM. This is a rich API, which supports actions like account creation and management. Group assignment, performing deposits and withdrawals, check and change passwords, request balance, margin, equity and much more. It is a web service, using JSON, a widely-utilized format, which makes the integration process as simple as it gets.    </p>
            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-auto mr-3">
                                            <h6 class="text-white text-right my-0">cTrader is fast to deploy and easy to<br> integrate with any established business</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-3">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <h2 class="text-center" id="" style="">
        Reporting API    </h2>
                    <p class="text-center font-weight-bold" id="" style="">
        The Reporting API is an interface to the server, which provides two scopes of data for a wide range of entities. Its main advantage is receiving real-time events for risk management operations and trading analysis. The reporting API uses Google Protocol Buffers for fast and light communication.    </p>
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow" style="">
                <div class="card-body px-5">
                            <h6 class="mb-2" id="" style="">
        Snapshots    </h6>
                            <p class="" id="" style="">
        The Snapshots service of the Reporting API can be used to get historical events as a query by each entity. You can either locally populate your own database, or retrieve missed events.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow" style="">
                <div class="card-body px-5">
                            <h6 class="mb-2" id="" style="">
        Events    </h6>
                            <p class="" id="" style="">
        The Events service of the Reporting API is used to receive a real-time stream of every event. Once events are received, they can be analyzed to build your own reporting facilities according to your business needs.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
                </section>
        
                   {% endblock %}