{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Server</h1>
							<p class="font-weight-bold">A robust technology stack, designed to deliver high performance, security and scalability for brokers and millions of cTrader platform users worldwide.</p>
			</div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        A Cloud-based Solution    </h2>
                            <p class="font-weight-bold" id="" style="">
        cTrader is supported by cServer – the backbone of the tried-and-tested cTrader platform, working behind the scenes to ensure uninterrupted liquidity connections, thorough security and comprehensive backup.    </p>
                            <p class="font-weight-bold" id="" style="">
        cServer is a complete stack of technologies, combining hardware and software to establish an instantly scalable cloud-based solution, offering sub-millisecond processing and a 100% uptime record.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/01.server/_a-cloud_solutions/hero.png' %}"
                                    class=""
            alt="">
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text">
                <h4 class="p-0 m-0">cServer is scalable to unlimited capacity to keep up with the constant growth of your business.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>cTrader Server Features</h2>
        </div>
    </div>
</div>                    <p class="text-center font-weight-bold" id="" style="">
        cServer is a high-performance back-end system, undergoing constant optimization to ensure top support of the entire cTrader solution. Contributing features include:    </p>
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-3 border-0 shadow" style="">
                <div class="card-body ">
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/01.server/_c-features/colocation.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        Colocation    </h2>
                            <p class="mb-2" id="" style="">
        Strategic location in the Equinix LD5 data center, alongside major liquidity providers, ECNs and aggregators with fibre cross-connects throughout LD5 and LD4 sites.    </p>
            
                                </div>
    </div>                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-2 border-0 shadow" style="">
                <div class="card-body ">
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/01.server/_c-features/connectivity.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        Connectivity    </h2>
                            <p class="mb-2" id="" style="">
        Network interfaces are connected to a redundant 10GE network fabric to ensure ultra-low latency and high throughput. Routing occurs via a global proxy cloud, in place to evaluate and correct last mile latency for traders.    </p>
            
                                </div>
    </div>                    </div>
        </div>
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-3 border-0 shadow" style="">
                <div class="card-body ">
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/01.server/_c-features/integration-and-reporting.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        Integration & Reporting    </h2>
                            <p class="mb-2" id="" style="">
        Integrate with cTrader using an à la carte menu of API’s with different business responsibilities. All with base in common technologies, such as JSON, PostgreSQL and Google Protocol Buffers.    </p>
            
                                </div>
    </div>                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div class="card h-100 mx-2 border-0 shadow" style="">
                <div class="card-body ">
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/01.server/_c-features/IBM_Blade.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        IBM Blade Tecnology    </h2>
                            <p class="mb-2" id="" style="">
        Built with IBM BladeCenter, where a cluster is formed using VMware vSphere. All blades are connected to IBM Storwize v7000 virtualized storage system over a redundant fibre channel fabric.    </p>
            
                                </div>
    </div>                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-auto mr-3">
                                            <h6 class="text-white text-right my-0">Offer a trading platform supported by<br> a cloud-based solution with 100% uptime record.</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-3">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-light pt-5 bg-grid"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <h2 class="text-center" id="" style="">
        cServer Model    </h2>
                    <p class="text-center font-weight-bold" id="" style="">
        This diagram shows the full scope of cTrader’s architecture model.    </p>
                    <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/01.server/_e-cserver_model/pimgpsh_fullsize_distr.png' %}"
                                    class=""
            alt="">
            </div>
</div>
            
<div id=""
     class="bg-white pb-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Order Processing</h2>
        </div>
    </div>
</div>                    <div id="" class="text-center" data-animation=""><p class="font-weight-bold" id="" style="">
        Created to provide the most advanced trading experience for hundreds of thousands of traders simultaneously,<br> cServer boasts an impressive capacity for order processing and management.    </p>
</div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <h6 class="" id="" style="">
        Straight-Through Processing    </h6>
                            <p class="" id="" style="">
        Designed from the ground up for STP execution, cServer’s order routing engine has been well optimized for fast and stable communication with multiple counterparties, to ensure the lowest rejection rates possible.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <h6 class="" id="" style="">
        Internalizing    </h6>
                            <p class="" id="" style="">
        To reduce operating costs, associated with order execution, you can maintain an internal order book, either exclusively or in combination with STP. This forms a hybrid model and vastly improves risk management.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <h6 class="" id="" style="">
        Margin Calculation    </h6>
                            <p class="" id="" style="">
        Margin is automatically calculated in real-time for every trading account and symbol, where equity is invested according to each new bid and ask tick received. This helps uncover potential risks and missed opportunities.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <h6 class="" id="" style="">
        Asynchronous    </h6>
                            <p class="" id="" style="">
        Only possible with the most advanced technology, asynchronous processing is another one of cServer’s valuable features. Simultaneous processing of orders keeps internal processing to the absolute minimum and ensures no queues or delays.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
            <div class="pure-u-1-2">
            &nbsp;
        </div>
        <div class="pure-u-1-2">
        <div class="orange-title-right mb-5">
            <h2>Security</h2>
        </div>
    </div>
</div>                    <div id="" class="text-center" data-animation=""><p class="font-weight-bold" id="" style="">
        Security cTrader leads the way in reliability and security standards for retail-focused platforms. <br>With high-availability servers and robust underlying technologies, one can keep their peace of mind<br> by delegating platform security responsibilities to Spotware.    </p>
</div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <h6 class="" id="" style="">
        Environments are Segregated    </h6>
                            <p class="" id="" style="">
        Each solution is hosted in an independent environment to protect against any possible disruption from other brokers. This is made possible through the industry’s leading VMware vSphere and Zenoss which, respectively, segregate and monitor each environment.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <h6 class="" id="" style="">
        Data is Protected    </h6>
                            <p class="" id="" style="">
        Your customers’ personal data is not required to operate trading accounts – only margin-related information is necessary. Anything that is disclosed is subject to strict data protection practices.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <h6 class="" id="" style="">
        Services are Reliable    </h6>
                            <p class="" id="" style="">
        cServer offers unsurpassed operational reliability, including failover infrastructure, redundant network connectivity, established disaster-recovery methods and reverse-engineering-resistant server components.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-4 mb-3" style="">
                        
                            <div class="card h-100 mx-3  card-dotted border-0 shadow text-center" style="">
                <div class="card-body ">
                            <h6 class="" id="" style="">
        Servers are Protected by Proxies    </h6>
                            <p class="" id="" style="">
        All traffic coming to and from cServer is routed through a proxy cloud, to protect against unauthorized, malicious connections. Additionally, SSL encryption is in place.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
                </section>
        
                   {% endblock %}