{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Service Assurance</h1>
							<p class="font-weight-bold">Brokers offering the cTrader platform can expect a comprehensive product support solution from Spotware, topped with a team of bilingual engineers available around the clock.</p>
			</div>
</div>
            
<div id=""
     class="py-5 bg-norepeat bg-right-top"
     style="     min-height:652px;      background-image: url({% static 'spotwarectrader/user/pages/02.ctrader/03.server/04.service-assurance/_a-premium_support/top-image.png' %});          ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        Premium Support    </h2>
                            <p class="font-weight-bold" id="" style="">
        Alongside the cTrader Platform, you can expect a premium service assurance solution, designed to provide enterprise-level support to organizations of any size with a solid and thorough understanding of each and every department.    </p>
                            <p class="font-weight-bold" id="" style="">
        Spotware engineers will aid all departments within your organization, at every level. The alignment of interests between vendor and customer, conducted through a SaaS business model, ensures you will receive the highest quality of support at all times.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 text-center" style="">
                        
                            <div class="" style="height: 500px"></div>            
                                </div>
    </div>            </div>
</div>
            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text">
                <h4 class="p-0 m-0">You can always be confident that the information provided comes from the most knowledgeable cTrader technology personnel available, with developer level qualifications.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Key Features</h2>
        </div>
    </div>
</div>                    <p class="text-center" id="" style="">
        The key reasons why you will be content with the support you are provided with by Spotware’s Service Assurance Engineers.    </p>
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1  pure-u-lg-1-2" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/04.service-assurance/_c-key_features/email_phone-support.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        24/5 Email & On-Call Phone Support    </h2>
                            <p class="" id="" style="">
        Support agents are available 24/5 via an email-based ticketing system and phone support, to ensure complete availability during trading hours. Service Assurance Engineers are available round the clock to assist you with any issues or customer query you may have.    </p>
            
                                </div>
    </div>            
                                </div>
            <div class="pure-u-1-1  pure-u-lg-1-2" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/04.service-assurance/_c-key_features/experienced_support-team.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        Experienced Support Team    </h2>
                            <p class="" id="" style="">
        All members of the support team have years of experience in helping out cTrader brokers and users. Spotware takes all the necessary measures to ensure the support team has a low churn rate and is always staffed with high-caliber engineers.    </p>
            
                                </div>
    </div>            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1  pure-u-lg-1-2" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/04.service-assurance/_c-key_features/multilingual_.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        Multilingual Support    </h2>
                            <p class="" id="" style="">
        Spotware’s Service Assurance team is accustomed to supporting global operations. Our support is available in English, Russian and Chinese and via translation tools for other languages.    </p>
            
                                </div>
    </div>            
                                </div>
            <div class="pure-u-1-1  pure-u-lg-1-2" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-5 text-center" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/02.ctrader/03.server/04.service-assurance/_c-key_features/fast-resonse-times.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-4-5" style="">
                        
                            <h2 class="mb-2" id="" style="">
        Fast Response Time    </h2>
                            <p class="" id="" style="">
        Your requests are top-priority. Spotware’s support team is fully dedicated to the role, so enquiries are immediately received and treated in a quick-and-useful format.    </p>
            
                                </div>
    </div>            
                                </div>
    </div>            </div>
</div>
            <div class="bg-orange text-white">
    <div class="container">
        <div class="pure-g py-3">
            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-auto mr-3">
                                            <h6 class="text-white text-right my-0">Adopt a new trading platform for your Forex & CFD brokerage and be<br> assured your support requirements will be met</h6>
                                                                            </div>
            </div>

            <div class="pure-u-1-1 d-block d-md-none d-lg-none">&nbsp;</div>

            <div class="pure-u-1-1 pure-u-md-1-2 d-flex">
                <div class="my-auto ml-3">
                    <a href="{% url 'contact_page' %}" class="btn btn-green font-weight-bold btn-lg btn-round px-5" target="_top">Become a cTrader Broker</a>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
            <div class="pure-u-1-2">
            &nbsp;
        </div>
        <div class="pure-u-1-2">
        <div class="orange-title-right mb-5">
            <h2>Information Exchange</h2>
        </div>
    </div>
</div>                    <p class="text-center" id="" style="">
        You will always be informed of every change made to cTrader and the service you and your clients receive through high quality, transparent and ontime communications.    </p>
                    <div class="card card-dotted h-100 mx-3 mb-4 border-0 shadow" style="">
                <div class="card-body px-5">
                            <h2 class="mb-2" id="" style="">
        Early Change Notifications    </h2>
                            <p class="" id="" style="">
        You can rest assured that you will be notified regarding any important change to the cTrader platform. Update notifications are sent at least a month prior to any important release, and demo environments are updated at least two weeks in advance, to allow you sufficient time to get familiar with any changes.    </p>
                    </div>
        </div>
                    <div class="card card-dotted h-100 mx-3 mb-4 border-0 shadow" style="">
                <div class="card-body px-5">
                            <h2 class="mb-2" id="" style="">
        Consultation Papers    </h2>
                            <p class="" id="" style="">
        Consultation papers are provided on any major features, planned for cTrader. All changes are documented in extensive consultation papers, offering a comprehensive explanation of each subject.    </p>
                    </div>
        </div>
                    <div class="card card-dotted h-100 mx-3 mb-4 border-0 shadow" style="">
                <div class="card-body px-5">
                            <h2 class="mb-2" id="" style="">
        Customer Workshops    </h2>
                            <p class="" id="" style="">
        Spotware’s business development team offers training seminars at Spotware’s head office in Limassol, as well as at customer offices around the world. The information delivered at workshops ranges from new-customer training, to new-product consultation for both – planned and recently released features. For even further customer convenience, workshops can also be arranged online.    </p>
                    </div>
        </div>
                    <div class="card card-dotted h-100 mx-3 mb-4 border-0 shadow" style="">
                <div class="card-body px-5">
                            <h2 class="mb-2" id="" style="">
        Open Door Policy    </h2>
                            <p class="" id="" style="">
        Spotware has an open door policy for all its existing or prospective customers. All are welcome to discuss business needs and issues, as well as to follow up on important matters at any time. Just a few hours notice, and your account manager will be available for a meeting, along with service assurance engineers and relevant product owners.    </p>
                    </div>
        </div>
                    <div class="card card-dotted h-100 mx-3 mb-4 border-0 shadow" style="">
                <div class="card-body px-5">
                            <h2 class="mb-2" id="" style="">
        Technical Documentation    </h2>
                            <p class="" id="" style="">
        All products are extensively documented. Learn all about how cTrader platforms and systems work from comprehensive user guides and technical documents, available in a variety of languages.    </p>
                    </div>
        </div>
            </div>
</div>
                </section>
        
                  {% endblock %}