<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Description" content="OmisegoTrade">
		<meta name="Author" content="OmisegoTrade">
		<meta name="Keywords" content="Fx Trading, Bitcoin Trading, Investment "/>
		<!-- Title -->
		<title> Forex CFD Trading and Spread Betting Platforms | Spotware Systems Ltd</title>
        <link href="assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <link href="assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
        <link href="assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
        <link href="assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">
        <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="icon" href="assets/img/brand/favicon.png" type="image/x-icon"/>

		<!-- Icons css -->
		<link href="assets/css/icons.css" rel="stylesheet">

		<!-- Internal Chart-Morris css-->
		<link href="assets/plugins/morris.js/morris.css" rel="stylesheet">

		<!--  Left-Sidebar css -->
		<link href="assets/css/sidemenu.css" rel="stylesheet">

		<!--  Right-sidemenu css -->
		<link href="assets/plugins/sidebar/sidebar.css" rel="stylesheet">

		<!-- Internal Nice-select css  -->
		<link href="assets/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet"/>

		<!-- Internal News-Ticker css-->
		<link href="assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

		<!-- Jquery-countdown css-->
		<link href="assets/plugins/jquery-countdown/countdown.css" rel="stylesheet">

		<!-- Internal News-Ticker css-->
		<link href="assets/plugins/newsticker/jquery.jConveyorTicker.css" rel="stylesheet" />

		<!-- style css-->
		<link href="assets/css/style.css" rel="stylesheet">

		<!-- skin css-->
		<link href="assets/css/skin-modes.css" rel="stylesheet">

		<!-- dark-theme css-->
		<link href="assets/css/style-dark.css" rel="stylesheet">

		<!--- Animations css-->
		<link href="assets/css/animate.css" rel="stylesheet">

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5feda3d7df060f156a92a11b/1eqs4g12b';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
	</head>

	<body class="main-body app sidebar-mini dark-theme">

		<!-- Loader -->
		<div id="global-loader" class="dark-loader">
			<img src="assets/img/loaders/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /Loader -->

		<!-- main-sidebar opened -->
            		<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
		<aside class="app-sidebar sidebar-scroll ">
			<div class="main-sidebar-header">
				<a class=" desktop-logo logo-light" href="account?home"><img src="../images/luxurypips.png" class="main-logo" alt="logo"></a>
				<a class=" desktop-logo logo-dark" href="account?home"><img src="../images/luxurypips.png" class="main-logo dark-theme" alt="logo"></a>
				<a class="logo-icon mobile-logo icon-light" href="account?home"><img src="assets/img/brand/favicon.png" class="logo-icon" alt="logo"></a>
				<a class="logo-icon mobile-logo icon-dark" href="account?home"><img src="assets/img/brand/favicon.png" class="logo-icon dark-theme" alt="logo"></a>
			</div>
			<div class="main-sidebar-body circle-animation ">

				<ul class="side-menu circle">
				
					<li><h3 class="">
                    <center>
                    
<script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s + " GMT +2";
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
</head>

<body onload="startTime()">

<div id="txt"></div>
<br> 
                                          Your account is - <i class="fa fa-check-square"></i> Active
                     <br>
                     Joined -<span style='text-transform: capitalize;'>6 days ago</span><br>
                     </center>
                     </h3>
					
					</li>
								        <li class="slide">
						<a class="side-menu__item" href="account?home"><i class="side-menu__icon ti-stats-up"></i><span class="side-menu__label">Dashboard</span></a>
					</li>
					<li class="slide">
						<a class="side-menu__item" href="account?profile">
						<i class="side-menu__icon ti-desktop"></i>
						<span class="side-menu__label">
						My Account</span>
						</a>
					</li>
					<li class="slide">
						<a class="side-menu__item" href="account?tradingactivities"><i class="side-menu__icon ti-exchange-vertical"></i><span class="side-menu__label">Trading Activities</span></a>
					</li>
					<li class="slide">
						<a class="side-menu__item" href="account?withdrawal"><i class="side-menu__icon ti-money"></i><span class="side-menu__label">Withdrawal</span></a>
					</li>
					<li class="slide">
						<a class="side-menu__item" href="account?deposit"><i class="side-menu__icon ti-wallet"></i><span class="side-menu__label">Deposit</span></a>
					</li>
					<li class="slide">
						<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon ti-server menu-icon"></i><span class="side-menu__label">Transactions</span><span class="badge badge-pink side-badge">0</span><i class="angle fe fe-chevron-down"></i></a>
						<ul class="slide-menu">
							<li><a class="slide-item" href="account?banking">All</a></li>
							<li><a class="slide-item" href="account?deposit_history">Deposit History</a></li>
							<li><a class="slide-item" href="account?withdrawal_history">Withdrawal History</a></li>
						</ul>
					</li>
                    <li class="slide">
                            <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon ti-email  menu-icons"></i><span class="side-menu__label">Messages</span><span class="badge badge-warning side-badge">0</span></a>
                            <ul class="slide-menu">
                                <li><a class="slide-item" href="account?message_center">All Mail</a></li>
                                <li><a class="slide-item" href="account?message_center&compose">Mail Compose</a></li>
                                <li><a class="slide-item" href="account?message_center&sent">Mail Sent</a></li>
                            </ul>
                        </li>
                    <li class="slide">
						<a class="side-menu__item" href="account?notice_board"><i class="side-menu__icon ti-bell"></i><span class="side-menu__label">All Notifcations</span><span class="badge badge-primary side-badge">0</span></a>
					</li>   
                    <li class="slide">
                            <a class="side-menu__item" href="account?upgrade"><i class="side-menu__icon ti-cup"></i><span class="side-menu__label">Upgrade Plan</span></a>
                        </li>
                    <li class="slide">
                            <a class="side-menu__item" href="account?referrals"><i class="side-menu__icon fa fa-users"></i><span class="side-menu__label">Referrals</span></a>
                        </li>
					<li class="slide">
						<a class="side-menu__item" data-toggle="slide" href="account?settings">
						<i class="side-menu__icon ti-panel menu-icon"></i>
						<span class="side-menu__label">Account Settings</span><i class="angle fe fe-chevron-down"></i></a>
						<ul class="slide-menu">
							<li><a class="slide-item" href="account?profile">Profile</a></li>
							<li><a class="slide-item" href="account?profile&edit">Update Profile</a></li>
							<li><a class="slide-item" href="account?profile&uploadcover">Upload Profile Image</a></li>
							<li><a class="slide-item" href="account?profile&changepassword">Change Password</a></li>
						</ul>
					</li>
					
					<li class="slide">
				<a class="side-menu__item" href="process?signout">
				<i class="side-menu__icon fa fa-power-off"></i>
				<span class="side-menu__label">Sign Out</span></a>
					</li>	
				</ul>
			</div>
		</aside>		<!-- main-sidebar -->

		<!-- main-content -->
		<div class="main-content app-content">

			<!-- Page main-header -->
			<div class="main-header sticky side-header nav nav-item">
				<div class="container-fluid">
					<div class="main-header-left ">
						<div class="app-sidebar__toggle mobile-toggle" data-toggle="sidebar">
							<a class="open-toggle" href="#"><i class="header-icons" data-eva="menu-outline"></i></a>
							<a class="close-toggle" href="#"><i class="header-icons" data-eva="close-outline"></i></a>
						</div>
						
					</div>
					<div class="main-header-center">
						<div class="responsive-logo">
							<a href="account?home"><img src="../images/luxurypips.png" class="mobile-logo" alt="logo"></a>
						</div>
					</div>
					<div class="main-header-right">
						<div class="nav nav-item  navbar-nav-right ml-auto">
							<div class="dropdown  nav-item main-header-message ">
								<a class="new nav-link" href="#" >
								<i class="ti-email"></i>
																</a>
								<div class="dropdown-menu dropdown-menu-arrow animated fadeInUp ">
									<div class="main-dropdown-header  d-sm-none">
										<a class="main-header-arrow" href=""><i class="icon ion-md-arrow-back"></i></a>
									</div>
									<div class="menu-header-content text-left d-flex">
										<div class="">
											<h6 class="menu-header-title text-white mb-0">0 new Messages</h6>
										</div>
										<div class="my-auto ml-auto">
											<a href="javascript:void(0)" onClick="markAllAsRead('1657575551')">
											<span class="badge badge-pill badge-warning float-right">Mark All Read</span>
											</a>
										</div>
									</div>
									<div class="main-message-list chat-scroll">
																		</div>
									<div class="text-center dropdown-footer">
										<a href="account?message_center">VIEW ALL</a>
									</div>
								</div>
							</div>
							<div class="dropdown nav-item main-header-notification">
								<a class="new nav-link " href="#">
								<i class="ti-bell animated bell-animations"></i>
																</a>
								<div class="dropdown-menu dropdown-menu-arrow animated fadeInUp">
									<div class="menu-header-content text-left d-flex">
										<div class="">
											<h6 class="menu-header-title text-white mb-0">0 new Notifications</h6>
										</div>
										<div class="my-auto ml-auto">
                                            <a href="javascript:void(0)" onClick="markAllNAsRead('1657575551')">
											<span class="badge badge-pill badge-warning float-right">Mark All Read</span>
                                            </a>
										</div>
									</div>
									<div class="main-notification-list Notification-scroll">
                                        									</div>
									<div class="dropdown-footer">
										<a href="account?notice_board">VIEW ALL</a>
									</div>
								</div>
							</div>
							<button class="navbar-toggler navresponsive-toggler d-sm-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
								aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon fe fe-more-vertical "></span>
							</button>
							<div class="dropdown main-profile-menu nav nav-item nav-link">
								<a class="profile-user" href=""><img alt="" src="assets/img/faces/3.png"></a>
								<div class="dropdown-menu dropdown-menu-arrow animated fadeInUp">
									<div class="main-header-profile header-img">
										<div class="main-img-user"><img alt="" src="assets/img/faces/3.png"></div>
										<h6>tester user</h6><span>
										Starter </span>
									</div>
									<a class="dropdown-item" href="account?profile"><i class="far fa-user"></i> My Profile</a>
									<a class="dropdown-item" href="account?profile&edit"><i class="far fa-edit"></i> Edit Profile</a>
									<a class="dropdown-item" href="process?signout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
								</div>
							</div>
							<div class="dropdown main-header-message right-toggle">
								<a class="nav-link " data-toggle="sidebar-right" data-target=".sidebar-right">
									<i class="ti-menu tx-20 bg-transparent"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
					<!-- /main-header -->

			<!-- Page mobile-header -->
			<div class="responsive main-header">
				<div class="mb-1 navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark d-sm-none ">
					<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
						<div class="d-flex order-lg-2 ml-auto">
							
							<div class="d-md-flex">
								<div class="nav-item full-screen fullscreen-button">
									<a class="new nav-link full-screen-link" href="#"><i class="ti-fullscreen"></i></span></a>
								</div>
							</div>
							<div class="dropdown  nav-item main-header-message header-contact">
								<a class="new nav-link" href="#" ><i class="ti-email"></i><span class=" pulse-danger"></span></a>
								<div class="dropdown-menu dropdown-menu-arrow animated fadeInUp">
									<div class="main-dropdown-header d-sm-none">
										<a class="main-header-arrow" href=""><i class="icon ion-md-arrow-back"></i></a>
									</div>
									<div class="menu-header-content text-left d-flex">
										<div class="">
											<h6 class="menu-header-title text-white mb-0">0 new Messages</h6>
										</div>
										<div class="my-auto ml-auto">
                                        <a href="javascript:void(0)" onClick="mmarkAllNAsRead('1657575551')">
											<span class="badge badge-pill badge-warning float-right">Mark All Read</span>
                                        </a>
										</div>
									</div>
									<div class="main-message-list text-scroll">
                                        									</div>
									<div class="text-center dropdown-footer">
										<a href="account?message_center">VIEW ALL</a>
									</div>
								</div>
							</div>
							<div class="dropdown nav-item main-header-notification">
								<a class="new nav-link" href="#"><i class="ti-bell "></i><span class=" pulse"></span></a>
								<div class="dropdown-menu dropdown-menu-arrow animated fadeInUp">
									<div class="menu-header-content text-left d-flex">
										<div class="">
											<h6 class="menu-header-title text-white mb-0">0 new Notifications</h6>
										</div>
										<div class="my-auto ml-auto">
                                        <a href="javascript:void(0)" onClick="mmarkAllNAsRead('1657575551')">
											<span class="badge badge-pill badge-warning float-right">Mark All Read</span>
                                            </a>
										</div>
									</div>
									<div class="main-notification-list notify-scroll">
										 									</div>
									<div class="dropdown-footer">
										<a href="account?notice_board">VIEW ALL</a>
									</div>
								</div>
							</div>
							<div class="dropdown main-profile-menu nav nav-item nav-link">
								<a class="profile-user" href="account?profile">
                                    <img alt="" src="assets/img/faces/3.png"></a>
								<div class="dropdown-menu dropdown-menu-arrow animated fadeInUp">
									<div class="main-header-profile header-img">
										<div class="main-img-user"><img alt="" src="assets/img/faces/3.png"></div>
										<h6>tester user</h6><span>Starter </span>
									</div>
									<a class="dropdown-item" href="account?profile"><i class="far fa-user"></i> My Profile</a>
									<a class="dropdown-item" href="account?profile&editd"><i class="far fa-edit"></i> Edit Profile</a>
									<a class="dropdown-item" href="process?signout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
								</div>
							</div>
							<div class="dropdown main-header-message right-toggle">
								<a class="nav-link " data-toggle="sidebar-right" data-target=".sidebar-right">
									<i class="ti-menu tx-20 bg-transparent"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>			<!-- mobile-header -->

			<!-- container -->
			<div class="container-fluid">

				<!-- Page Header 2 -->
				<div class="breadcrumb-header justify-content-between">
					<div class="left-content">
						<h3 class="content-title mb-2">
						You are logged in as: tester user						<span style="font-size: 12px; font-style: italic;">(No transaction yet? <a href='account.php?deposit'>click here</a><br> to start trading now) </span></h3>
						
						<div class="d-flex">
							<i class="mdi mdi-home text-muted hover-cursor"></i>
							<p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>
							<p class="text-primary mb-0 hover-cursor" style="color: #ffc108 !important;">                                    																																																																																																																																											
									Upgrade Your Account																																														
    								</p>
						</div>
					</div>
				
					
					
					
					<div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
						<a data-toggle="sidebar-right" data-target=".sidebar-right">
						<button type="button" class="btn btn-warning btn-icon mr-3 mt-2 mt-xl-0">
							<i class="fa fa-id-card "></i>
                            </button></a>
						<a href="account?contact"
						<button type="button" class="btn btn-danger  btn-icon mr-3 mt-2 mt-xl-0">
							<i class="fa fa-headset"></i>
                            </button></a>
						<a href="process?signout">
						<button type="button" class="btn btn-success btn-icon mr-3 mt-2 mt-xl-0">
							<i class="fa fa-power-off"></i>
                            </button></a>
                        
					</div>
				</div>				<!-- /breadcrumb -->
          


				
			            	<!-- row  -->
				<div class="row">
					<div class="col-xl-12 col-md-12 col-lg-12">
						<div class=" overflow-hidden bg-transparent card-crypto-scroll shadow-none">
							<div class="js-conveyor-example">
								<ul class="news-crypto">
									<li>
										<div class="crypto-card">
											<div class="row">
												<div class="d-flex">
													<div class="my-auto">
														<img src="assets/img/crypto-currencies/round-outline/Augur.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">REP / INR</p>
														<div class="m-0 tx-13 text-warning">$0.0215<span class="text-danger ml-2"><i class="ion-arrow-down-c mr-1"></i>-0.78%</span></div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
									   <div class="crypto-card">
										   <div class="row">
												<div class="d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/AquariusCoin.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">ARCO / INR</p>
														<div class="m-0 tx-13 text-warning">$425.25<span class="text-success ml-2"><i class="ion-arrow-up-c mr-1"></i>+12.85%</span></div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
									   <div class="crypto-card">
											<div class="row">
												<div class="d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/BitShares.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">BTS / INR</p>
														<div class="m-0 tx-13 text-warning">$2.786<span class="text-success ml-2"><i class="ion-arrow-up-c mr-1"></i>-02.25%</span></div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card">
										   <div class="row">
												<div class="d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/Bytecoin.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">BCN / INR</p>
														<div class="m-0 tx-13 text-warning">$15.425<span class="text-danger ml-2"><i class="ion-arrow-down-c mr-1"></i>-0.78%</span></div>
													</div>
												</div>

											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card" >
										   <div class="row">
												<div class=" d-flex">
													<div class="my-auto">
														<img src="assets/img/crypto-currencies/round-outline/Dash.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">Dash / INR</p>
														<div class="m-0 tx-13 text-warning">$5.125<span class="text-success ml-2"><i class="ion-arrow-up-c mr-1"></i>-11.85%%</span></div>
													</div>
												</div>

											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card">
										   <div class="row">
												<div class=" d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/EOS.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">EUR / INR</p>
														<div class="m-0 tx-13 text-warning">$135.425<span class="text-danger ml-2"><i class="ion-arrow-down-c mr-1"></i>-0.78%</span></div>
													</div>
												</div>

											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card">
										   <div class="row">
												<div class=" d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/Decred.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">ETH / USDT</p>
														<div class="m-0 tx-13 text-warning">$34.625<span class="text-success ml-2"><i class="ion-arrow-up-c mr-1"></i>-0.32%</span></div>
													</div>
												</div>

											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card">
										   <div class="row">
												<div class=" d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/IOTA.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">IOTA / USD</p>
														<div class="m-0 tx-13 text-warning">$67.325<span class="text-danger ml-2"><i class="ion-arrow-down-c mr-1"></i>-0.78%</span></div>
													</div>
												</div>

											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card">
										   <div class="row">
												<div class=" d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/Litecoin.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">LTC / USD</p>
														<div class="m-0 tx-13 text-warning">$7.525<span class="text-success ml-2"><i class="ion-arrow-up-c mr-1"></i>-1.42%</span></div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card">
										   <div class="row">
												<div class=" d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/Monero.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">XMR / EUR</p>
														<div class="m-0 tx-13 text-warning">$4.325<span class="text-danger ml-2"><i class="ion-arrow-down-c mr-1"></i>-0.78%</span></div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card">
										   <div class="row">
												<div class=" d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/NEM.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">ETH / USDT</p>
														<div class="m-0 tx-13 text-warning">$5.525<span class="text-success ml-2"><i class="ion-arrow-up-c mr-1"></i>-1.32%</span></div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="crypto-card">
										   <div class="row">
												<div class=" d-flex">
													<div class="">
														<img src="assets/img/crypto-currencies/round-outline/Netko-coin.svg" class="w-6 h-6 mt-0" alt="">
													</div>
													<div class="ml-3">
														<p class="mb-1 tx-13">NEO / USD</p>
														<div class="m-0 tx-13 text-warning">$6.025<span class="text-danger ml-2"><i class="ion-arrow-down-c mr-1"></i>-0.78%</span></div>
													</div>
												</div>

											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

<div class="row">
					
					<div class="col-sm-6 col-lg-6 col-xl-3">
						<div class="card pricing-card">
							<div class="card-body text-center">
								<div class="card-category">Bronze Level</div>
								<div class="display-5 my-2">$1,000 - $4,999</div>
								<ul class="list-unstyled leading-loose">
									<li><strong>24/7</strong> Customer Service</li>
									<li><i class="fe fe-check text-success mr-2"></i> Professional Chart</li>
									<li><i class="fe fe-check text-success mr-2"></i> Trading Alert</li>
									<li><i class="fe fe-check text-success mr-2"></i> Trading Central (Basic)</li>
									<li><i class="fe fe-check text-success mr-2"></i> A Personal Coach</li>
									<li><i class="fe fe-check text-danger mr-2"></i> $1,000 USD (Bonus)</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Sms & Email Alert</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Live Trading with Expert</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Financial Expert Session</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Research Website</li>
								</ul>
								<div class="text-center mt-6">
									<span class="btn btn-success btn-block">Your current plan</span>
								</div>
							</div>
						</div>
					</div><!-- col-end -->
					<div class="col-sm-6 col-lg-6 col-xl-3">
						<div class="card pricing-card">
							<div class="card-body text-center">
								<div class="card-category">Silver Level</div>
								<div class="display-5 my-2">$5,000 - $10,000</div>
								<ul class="list-unstyled leading-loose">
									<li><strong>24/7</strong> Customer Service</li>
									<li><i class="fe fe-check text-success mr-2"></i> Professional Chart</li>
									<li><i class="fe fe-check text-success mr-2"></i> Trading Alert</li>
									<li><i class="fe fe-check text-success mr-2"></i> Trading Central (Basic)</li>
									<li><i class="fe fe-check text-success mr-2"></i> A Personal Coach</li>
									<li><i class="fe fe-check text-success mr-2"></i> $1,000 USD (Bonus)</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Sms & Email Alert</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Live Trading with Expert</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Financial Expert Session</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Research Website</li>
								</ul>
								<div class="text-center mt-6">
									<a href="#" data-target="#modaldemo1" data-toggle="modal" class="btn btn-primary btn-block">Choose plan</a>
								</div>
							</div>
						</div>
					</div><!-- col-end -->
					<div class="col-sm-6 col-lg-6 col-xl-3">
						<div class="card pricing-card ">
							<div class="card-body text-center">
								<div class="card-category">Gold Level</div>
								<div class="display-5 my-2">$10,000 - $15,000</div>
								<ul class="list-unstyled leading-loose">
									<li><strong>24/7</strong> Customer Service</li>
									<li><i class="fe fe-check text-success mr-2"></i> Professional Chart</li>
									<li><i class="fe fe-check text-success mr-2"></i> Trading Alert</li>
									<li><i class="fe fe-check text-success mr-2"></i> Trading Central (Basic)</li>
									<li><i class="fe fe-check text-success mr-2"></i> A Personal Coach</li>
									<li><i class="fe fe-check text-success mr-2"></i> $2,000 USD (Bonus)</li>
									<li><i class="fe fe-check text-success mr-2"></i> Sms & Email Alert</li>
									<li><i class="fe fe-check text-success mr-2"></i> Live Trading with Expert</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Financial Expert Session</li>
									<li><i class="fe fe-check text-danger mr-2"></i> Research Website</li>
								</ul>
								<div class="text-center mt-6">
									<a href="#" data-target="#modaldemo4" data-toggle="modal" class="btn btn-warning btn-block">Choose plan</a>
								</div>
							</div>
						</div>
					</div><!-- col-end -->
					<div class="col-sm-6 col-lg-6 col-xl-3">
						<div class="card pricing-card ">
							<div class="card-body text-center">
								<div class="card-category">Platinum Level</div>
								<div class="display-5 my-2">$15,000 - $20,000</div>
								<ul class="list-unstyled leading-loose">
									<li><strong>24/7</strong> Customer Service</li>
									<li><i class="fe fe-check text-success mr-2"></i> Professional Chart</li>
									<li><i class="fe fe-check text-success mr-2"></i> Trading Alert</li>
									<li><i class="fe fe-check text-success mr-2"></i> Trading Central (Basic)</li>
									<li><i class="fe fe-check text-success mr-2"></i> A Personal Coach</li>
									<li><i class="fe fe-check text-success mr-2"></i> $3,000 USD (Bonus)</li>
									<li><i class="fe fe-check text-success mr-2"></i> Sms & Email Alert</li>
									<li><i class="fe fe-check text-success mr-2"></i> Live Trading with Expert</li>
									<li><i class="fe fe-check text-success mr-2"></i> Financial Expert Session</li>
									<li><i class="fe fe-check text-success mr-2"></i> Research Website</li>
								</ul>
								<div class="text-center mt-6">
									<a href="#" class="btn btn-danger btn-block" data-target="#modaldemo5" data-toggle="modal">Choose plan</a>
								</div>
							</div>
						</div>
					</div><!-- col-end -->
				</div>
<div class="modal" id="modaldemo4">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content tx-size-sm">
					<div class="modal-body tx-center pd-y-20 pd-x-20">
						<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="fa fa-award tx-100 tx-warning lh-1 mg-t-20 d-inline-block"></i>
						<h4 class="tx-secondary mg-b-20">Upgrade to Gold</h4>
						<p class="mg-b-20 mg-x-20">To upgrade your OmisegoTrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
					    <a href="account?contact">
						<button aria-label="Close" class="btn ripple btn-primary pd-x-25" data-dismiss="modal" type="button">Contact Account Manager</button></a>
						
				        <button aria-label="Close" class="btn ripple btn-warning pd-x-25" data-dismiss="modal" type="button">Continue</button> 
				        
					</div>
				</div>
			</div>
		</div>
<div class="modal" id="modaldemo5">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content tx-size-sm">
					<div class="modal-body tx-center pd-y-20 pd-x-20">
						<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="fa fa-medal tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
						<h4 class="tx-secondary mg-b-20">Upgrade to Platinum</h4>
						<p class="mg-b-20 mg-x-20">To upgrade your OmisegoTrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
					<a href="account?contact">
						<button aria-label="Close" class="btn ripple btn-primary pd-x-25" data-dismiss="modal" type="button">Contact Account Manager</button></a>
						
				        <button aria-label="Close" class="btn ripple btn-danger pd-x-25" data-dismiss="modal" type="button">Continue</button> 
				        
					</div>
				</div>
			</div>
		</div>
<div class="modal" id="modaldemo1">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content tx-size-sm">
					<div class="modal-body tx-center pd-y-20 pd-x-20">
						<button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">&times;</span></button> 
						<i class="fa fa-university tx-100 tx-primary lh-1 mg-t-20 d-inline-block"></i>
						<h4 class="tx-secondary mg-b-20">Upgrade to Silver</h4>
						<p class="mg-b-20 mg-x-20">To upgrade your OmisegoTrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
					<a href="account?contact">
						<button aria-label="Close" class="btn ripple btn-primary pd-x-25" data-dismiss="modal" type="button">Contact Account Manager</button></a>
						
				        <button aria-label="Close" class="btn ripple btn-danger pd-x-25" data-dismiss="modal" type="button">Continue</button> 
				        
					</div>
				</div>
			</div>
		</div>	                
			</div>
			<!-- /conatiner -->
		</div>
		<!-- /main-content -->

		<!-- Right-sidebar-->
		<div class="sidebar sidebar-right sidebar-animate">
			<div class="p-3">
				<a href="#" class="text-right float-right" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="fe fe-x"></i></a>
			</div>
			<div class="tab-menu-heading border-0 card-header">
				<div class="card-title mb-0">Notifications</div>
				<div class="card-options ml-auto">
					<a href="#" class="sidebar-remove"><i class="fe fe-x"></i></a>
				</div>
			</div>
			<div class="tabs-menu ">
				<!-- Tabs -->
				<ul class="nav panel-tabs">
					<li style="margin-left: 20%;"><a href="#tab" class="active show" data-toggle="tab"><i class="fa fa-user"></i></a></li>
					<li class=""><a href="#tab1" data-toggle="tab" class=""><i class="fa fa-users"></i></a></li>
					<li><a href="#tab2" data-toggle="tab" class=""><i class="fa fa-bell"></i></a></li>
					<li><a href="#tab3" data-toggle="tab" class=""><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
			<div class="panel-body tabs-menu-body side-tab-body p-0 border-0 ">
				<div class="tab-content">
					<div class="tab-pane active" id="tab">
						<div class="card-body p-0">
							<div class="header-user text-center mt-4">
								<span class="avatar avatar-xxl brround mx-auto">
								<img src="assets/img/faces/3.png" alt="Profile-img" class="avatar avatar-xxl brround">
								</span>
								<div class=" text-center font-weight-semibold user mt-3 h6 mb-0">tester user</div>
								<span class="text-muted">
								 Starter - Plan
								
                    <br> 
                    Joined -<span style='text-transform: capitalize;'>6 days ago</span><br>
                                          Your account is - <i class="fa fa-check-square"></i> Active
                     <br><br>
                     
                    
								
								</span>
								
							</div>
							<a class="dropdown-item  border-top" href="account?profile&home">
								<i class="dropdown-icon fe fe-home mr-2"></i> Account Information
							</a>
							
							<a class="dropdown-item  border-top" href="account?profile&edit">
								<i class="dropdown-icon fe fe-edit mr-2"></i> Edit Profile
							</a>
							
							<a class="dropdown-item  border-top" href="account?message_center">
								<i class="dropdown-icon fe fe-mail mr-2"></i> Message
							</a>
							<a class="dropdown-item  border-top" href="account?contact">
								<i class="dropdown-icon fe fe-help-circle mr-2"></i> Need Help?
							</a>
						
							<div class="card-body border-top border-bottom">
								<div class="row">
									<div class="col-4 text-center">
										<a class="" href="account?message_center" style="text-decoration: none; color:white;">
										<i class="dropdown-icon fa fa-envelope-square fs-20 m-0 leading-tight"></i>
										<div>Inbox</div>
										</a>
									</div>
									<div class="col-4 text-center">
										<a class="" href="account?notice_board" style="text-decoration: none; color:white;">
										<i class="dropdown-icon fa fa-exclamation-circle fs-20 m-0 leading-tight"></i>
										<div>Notifications</div>
										</a>
									</div>
									<div class="col-4 text-center">
										<a class="" href="process?signout" style="text-decoration: none; color:white;">
										<i class="dropdown-icon fa fa-sign-out-alt fs-20 m-0 leading-tight"></i>
										<div>Sign out</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab1">
						<div class="chat">
							<div class="contacts_card">
								<div class="side_chick">
									Your Downline & Referrals
								</div>
								<ul class="contacts mb-0">
<center>Record Empty!</center>
<div class="alert alert-success mb-0" role="alert" style="margin-top: 10px;">
  <h5 class="alert-heading">YOUR REFERRAL URL</h5>
  <p>Share the below link to with your friends and love once and get a 10% commission when they opening an account with OmisegoTrade. </p>
  <hr>
  <p class="mb-0" style="font-size: 12px; font-weight: bold">http://omisegotrade.com/register?referral=1657575551</p>
<br>
<p>T&C Applied!</p>
</div>                            
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab2">
					<div class="side_chick">
					Your Alerts & Notifications
					</div>
					                    <center>Record Empty!</center>
                    					</div>
					<div class="tab-pane" id="tab3">
					<div class="side_chick">
					Message Center
					</div>
           
						<div class="mt-3">
						<center>Record Empty!</center>
							<div class="text-center pt-5">
								<a href="javascript:void(0)" onClick="deletAllMsg('1657575551')" class="btn btn-primary">Delete All</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		<!-- Right-sidebar-closed -->


		<!-- Footer opened -->
		<div class="main-footer ht-40">
			<div class="container-fluid pd-t-0-f ht-100p">
				<span>Copyright © 2013-2021 <a href="#">Omisego Trade Investment Company</a>. All rights reserved.</span>
			</div>
		</div>
		<!-- Footer closed -->

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="la la-chevron-up"></i></a>

		<!-- JQuery min js -->
		<script src="assets/plugins/jquery/jquery.min.js"></script>

		<!-- Datepicker js -->
		<script src="assets/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

		<!-- Bootstrap Bundle js -->
		<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Ionicons js -->
		<script src="assets/plugins/ionicons/ionicons.js"></script>

		<!-- Moment js -->
		<script src="assets/plugins/moment/moment.js"></script>

		<!--Chart bundle min js -->
		<script src="assets/plugins/chart.js/Chart.bundle.min.js"></script>
		<script src="assets/plugins/raphael/raphael.min.js"></script>
		<script src="assets/plugins/peity/jquery.peity.min.js"></script>

		<!-- JQuery sparkline js -->
		<script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

	
		<!-- Sampledata js -->
		<script src="assets/js/chart.flot.sampledata.js"></script>

		<!-- Perfect-scrollbar js -->
		<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="assets/plugins/perfect-scrollbar/p-scroll.js"></script>

		<!-- Internal  Flot js-->
		<script src="assets/plugins/jquery.flot/jquery.flot.js"></script>
		<script src="assets/plugins/jquery.flot/jquery.flot.pie.js"></script>
		<script src="assets/plugins/jquery.flot/jquery.flot.resize.js"></script>
		<script src="assets/plugins/jquery.flot/jquery.flot.categories.js"></script>
		<script src="assets/js/dashboard.sampledata.js"></script>
		<script src="assets/js/chart.flot.sampledata.js"></script>

		<!-- Internal Newsticker js-->
		<script src="assets/plugins/newsticker/jquery.jConveyorTicker.js"></script>
		<script src="assets/js/newsticker.js"></script>

		<!-- Eva-icons js -->
		<script src="assets/js/eva-icons.min.js"></script>

		<!-- Sidebar js -->
		<script src="assets/plugins/side-menu/sidemenu.js"></script>

		<!-- right-sidebar js -->
		<script src="assets/plugins/sidebar/sidebar.js"></script>
		<script src="assets/plugins/sidebar/sidebar-custom.js"></script>

		<!-- Rating js-->
		<script src="assets/plugins/rating/jquery.rating-stars.js"></script>
		<script src="assets/plugins/rating/jquery.barrating.js"></script>

		<!-- P-scroll js -->
		<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="assets/plugins/perfect-scrollbar/p-scroll.js"></script>

		<!-- Internal Nice-select js-->
		<script src="assets/plugins/jquery-nice-select/js/jquery.nice-select.js"></script>
		<script src="assets/plugins/jquery-nice-select/js/nice-select.js"></script>

		<!-- Sticky js -->
		<script src="assets/js/sticky.js"></script>

		<!-- index js -->
		<script src="assets/js/dashboard.js"></script>
		<!-- Internal Modal js-->
		<script src="assets/js/modal.js"></script>

		<!-- custom js -->
		<script src="assets/js/custom.js"></script>
<script>
// Mark all message as read
function markAllAsRead(id)
{
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) 
        {
            alert(xmlhttp.responseText);
        }
    };
    xmlhttp.open("GET", "process.php?msg_markall=" +id, true);
    xmlhttp.send();
}
function mmarkAllAsRead(id)
{
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) 
        {
            alert(xmlhttp.responseText);
        }
    };
    xmlhttp.open("GET", "process.php?msg_markall=" +id, true);
    xmlhttp.send();
}
function deletAllMsg(id)
{
    var x = confirm("Are you sure you want to delete?");
    if (x){
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) 
        {
            var respo=xmlhttp.responseText;
            if (respo=='1'){
                alert("All your messages has been deleted!");
                 window.location.href = "account?home";
            }else{
                alert("Unable to delete all messages!");
            }
            
        }
    };
    xmlhttp.open("GET", "process.php?delet_Amsg=" +id, true);
    xmlhttp.send();
    }else{
        return false;
    }
}  
function markAllNAsRead(id)
{
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) 
        {
            alert(xmlhttp.responseText);
        }
    };
    xmlhttp.open("GET", "process.php?msg_markNall=" +id, true);
    xmlhttp.send();
}   
function adore() {
        if (document.cform.amount.value == '') {
        alert("Please type your amount or email!");
        document.cform.email.focus();
        return false;
        }
				if (document.cform.balance.value == '') {
        alert("Please type your amount or email!");
        document.cform.blance.focus();
        return false;
        }
				if (document.cform.amount_in_btc.value == '') {
        alert("Please type your amount or email!");
        document.cform.amount_in_btc.focus();
        return false;
        }	
				
				if (document.cform.wallet_address.value == '') {
        alert("Please type your amount or email!");
        document.cform.wallet_address.focus();
        return false;
        }
				
		var x_amount= parseInt(document.cform.amount.value);
		var x_balance= parseInt(document.cform.balance.value);

		var checkam = (x_amount > x_balance);
		var z = amount * btcvalue;

		if(checkam == true){
			
			formc.amount_in_btc.value = "Insufficient Fund";
			alert("Insufficient Fund");
		}
				
				
        return true;
    }
</script>
		
	</body>
</html>
