

{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}
      
        
                <section id="body" class=" clearfix">
            	<style>
		.copy_available, .link-green {
			font-size: 75%;
			text-align: center;
		}
		.copy_available {
			color: black;
			font-weight: bold;
		}
		.copy_available b, .link-green {
			color: #009933;
		}
	</style>
	<div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>Featured cTrader Brokers</h1>
							<p class="font-weight-bold">Many of the world&#039;s leading Forex and CFD brokers are offering cTrader. This page has a non-exhaustive list of brokers offering the cTrader platform.</p>
			</div>
</div>
			<div class="page.header.wrapper_class bg-light py-5">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2">
                <div class="mr-4 align-self-cente mb-auto mt-auto">
                    <h2>Featured brokers</h2>
                    <p>cTrader is broker-neutral. This means that the platform can be offered by any broker wishing to provide an all-inclusive, premium online trading environment to their customers. </p>
<p>If you are a trader looking for a trustworthy broker offering high-quality services, backed by cTrader’s Traders First™ motto, below is a non-exhaustive list of some of the best cTrader brokers.</p>
<p>*The brokers displayed here are all good-standing, long-term Spotware clients.</p>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 ">
                                    <img alt="" src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/_content/top_image-5.png' %}" />
                            </div>
        </div>
    </div>
</div>
	
	<div class="brokers-wrapper py-5">
		<div class="container">
			<div class="pure-g">
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/fxpro/logo.png' %}" class="card-img-top" alt="Axiory Global">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								
							</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/ic-markets/logo.png' %}" class="card-img-top" alt="Axiory Global">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
														<div class="copy_available">
								cTrader Copy <b>Available</b>
							</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/pepperstone/logo.png' %}" class="card-img-top" alt="Pepperstone">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/axiory-global/logo.png' %}" class="card-img-top" alt="Axiory Global">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/fondex/logo.png' %}" class="card-img-top" alt="Fondex">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
														<div class="copy_available">
								cTrader Copy <b>Available</b>
							</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/octafx/logo.png' %}" class="card-img-top" alt="OctaFX">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
														<div class="copy_available">
								cTrader Copy <b>Available</b>
							</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/scandinavian-capital-markets/logo.png' %}" class="card-img-top" alt="Scandinavian Capital Markets">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/skilling/logo.png' %}" class="card-img-top" alt="Axiory Global">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/omf/logo.png' %}" class="card-img-top" alt="Axiory Global">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
														<div class="copy_available">
								cTrader Copy <b>Available</b>
							</div>
													</div>
					</div>
														<div class="pure-u-1-3 mb-4 ">
						<div class="card card-dotted h-100 mx-4 rounded-0 shadow">
							<img src="{% static 'spotwarectrader/user/pages/featured-ctrader-brokers/tradeview-markets/logo.png' %}" class="card-img-top" alt="">
							
							<div class="card-body" style=" text-align: center;">
								<div class="my-3">
								</div>
								</div>
														<div class="copy_available">
								cTrader Copy <b>Available</b>
							</div>
													</div>
					</div>
							</div>
					</div>
	</div>
        </section>
        
                   
{% endblock %}