{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}       
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>Why Spotware</h1>
							<p class="font-weight-bold">There are many compelling reasons why you would want to work at Spotware. Take your pick from an extensive and well-justified list.</p>
			</div>
</div>
            
<div id=""
     class="bg-norepeat bg-right-top bg-img-xs-hide bg-img-sm-hide"
     style="     min-height:423px;      background-image: url(../../user/pages/05.company/02.careers/01.why-spotware/_we_make/hero_image.png);          ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-flex" style="">
            <div class="align-self-cente mb-auto mt-auto py-5 py-sm-5 py-md-0" style="
                                                
                ">            
                            <h2 class="" id="" style="">
        We Make it Great    </h2>
                            <p class="" id="" style="">
        We know our employees are the backbone of our success, and companies without an upbeat working environment struggle to progress. That’s why we strive to provide a remarkable working atmosphere, designed to foster a collaborative and supportive spirit, which boosts productivity, output, and most importantly – the quality of our products and services.    </p>
            
                        </div>        </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 d-none d-sm-none d-md-block d-lg-block" style="">
                        
                            <div class="" style="height: 423px"></div>            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
            <div class="pure-u-1-2">
            &nbsp;
        </div>
        <div class="pure-u-1-2">
        <div class="orange-title-right mb-5">
            <h2>What We Offer</h2>
        </div>
    </div>
</div>                    <div id="" class="text-center" data-animation=""><p class="" id="" style="">
        As a Spotware employee, this is what you can expect from working with us.    </p>
</div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-8" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/05.company/02.careers/01.why-spotware/_what_we_offer/health_insurance.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-7-8" style="">
                        
                            <div class="card h-100 card-dotted border-0" style="">
                <div class="card-body ">
                            <h5 class="pl-2" id="" style="">
        Health Insurance    </h5>
                            <p class="pl-2" id="" style="">
        Spotware believes in healthy and happy individuals, therefore, premium health insurance coverage is offered to all employees and their families as a commitment to their well-being and peace of mind. Insurance covers all types of medical treatments and prescriptions.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-8" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/05.company/02.careers/01.why-spotware/_what_we_offer/newest-technologies.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-7-8" style="">
                        
                            <div class="card h-100 card-dotted border-0" style="">
                <div class="card-body ">
                            <h5 class="pl-2" id="" style="">
        The Newest Technologies    </h5>
                            <p class="pl-2" id="" style="">
        Become part of a leading Fintech company, specializing in the online trading industry. It’s a technically advanced sphere that requires highly-experienced project managers and technical teams. Spotware follows and adopts the newest technologies to create the most advanced solutions and stay ahead of the competition.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-8" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/05.company/02.careers/01.why-spotware/_what_we_offer/team-of-proffesionals.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-7-8" style="">
                        
                            <div class="card h-100 card-dotted border-0" style="">
                <div class="card-body ">
                            <h5 class="pl-2" id="" style="">
        A Team of Professionals    </h5>
                            <p class="pl-2" id="" style="">
        Work with a team of professionals and experts from all over the world, who relocate to be part of something special. Working closely with each of the members will give you a great opportunity to learn and grow as an individual in a lucrative industry.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-8" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/05.company/02.careers/01.why-spotware/_what_we_offer/relocation-assistance.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-7-8" style="">
                        
                            <div class="card h-100 card-dotted border-0" style="">
                <div class="card-body ">
                            <h5 class="pl-2" id="" style="">
        Relocation Assistance    </h5>
                            <p class="pl-2" id="" style="">
        Complete relocation assistance, including travel arrangements, help in finding suitable accommodation, setting up your first bank account, and care of any necessary immigration and legal status arrangements is provided.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-8" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/05.company/02.careers/01.why-spotware/_what_we_offer/tax.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-7-8" style="">
                        
                            <div class="card h-100 card-dotted border-0" style="">
                <div class="card-body ">
                            <h5 class="pl-2" id="" style="">
        Income Tax Exemption    </h5>
                            <p class="pl-2" id="" style="">
        Individuals commencing employment for the first time within the Republic of Cyprus, are entitled to a 20% tax exemption on their salary for the first five years. This is in addition to Cyprus already having one the lowest income tax rates in Europe.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-8" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/05.company/02.careers/01.why-spotware/_what_we_offer/down-time.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-7-8" style="">
                        
                            <div class="card h-100 card-dotted border-0" style="">
                <div class="card-body ">
                            <h5 class="pl-2" id="" style="">
        Break Time    </h5>
                            <p class="pl-2" id="" style="">
        Little things do matter, that’s why the office is equipped with a fully-stocked fridge and different entertainment games to give a breather to hardworking employees. Table-football, air-hockey, table-tennis and gaming consoles are all available for a quick timeout.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-8" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/05.company/02.careers/01.why-spotware/_what_we_offer/poker-nights.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-7-8" style="">
                        
                            <div class="card h-100 card-dotted border-0" style="">
                <div class="card-body ">
                            <h5 class="pl-2" id="" style="">
        Corporate Events    </h5>
                            <p class="pl-2" id="" style="">
        At the end of a hard week, we host a cocktail night for all employees and their families to join, interact, make friends and become part of the company community. Enjoy beers, wines, finger foods and snacks, served immediately after work each and every Friday.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2 mb-3" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-8" style="">
                        
                            <img src="{% static 'spotwarectrader/user/pages/05.company/02.careers/01.why-spotware/_what_we_offer/great-location.png' %}"
                                    class=""
            alt="">
            
                                </div>
            <div class="pure-u-7-8" style="">
                        
                            <div class="card h-100 card-dotted border-0" style="">
                <div class="card-body ">
                            <h5 class="pl-2" id="" style="">
        Great Location    </h5>
                            <p class="pl-2" id="" style="">
        Enjoy the scenery while working in an office with both – sea and mountain view. The office is amongst a residential area with many opportunities to find an apartment or house just minutes from the beach. Some of the most popular bars and restaurants of Limassol are also located nearby.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>How We Work</h2>
        </div>
    </div>
</div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1" style="">
                        
                            <p class="text-center" id="" style="">
        At Spotware, we implement a mature and lightweight approach to agile software development.<br>This helps you deliver applications at the highest level of quality and performance.    </p>
            
                                </div>
    </div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-5" style="">
                        
                            <div class="card h-100 mx-3 shadow card-dotted border-radius-0" style="border: 2px solid #ff6633;">
                <div class="card-body px-5 py-2 text-center">
                            <h6 class="my-2" id="" style="">
        Necessarily Innovative    </h6>
                            <p class="mb-2" id="" style="">
        Teams participate in frequent retrospective meetings, where all members are encouraged to discuss ideas for productivity and output improvement. This is essential to create solutions for an industry requiring constant innovation.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-5" style="">
                        
                            <div class="card h-100 mx-3 shadow card-dotted border-radius-0" style="border: 2px solid #ff6633;">
                <div class="card-body px-5 py-2 text-center">
                            <h6 class="my-2" id="" style="">
        Experienced Product Owners    </h6>
                            <p class="mb-2" id="" style="">
        You will be working closely with Product Owners to ship new releases in comfortable and frequent timeframes. Product Owners will always be available, sharing your workspace for accessibility and collaboration.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-5" style="">
                        
                            <div class="card h-100 mx-3 shadow card-dotted border-radius-0" style="border: 2px solid #ff6633;">
                <div class="card-body px-5 py-2 text-center">
                            <h6 class="my-2" id="" style="">
        Agile Done Right    </h6>
                            <p class="mb-2" id="" style="">
        Working alongside experts in Extreme Programming and Scrum, you will experience all the benefits connected with Test-Driven Development, Pair Programming and Continuous Integration.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-5" style="">
                        
                            <div class="card h-100 mx-3 shadow card-dotted border-radius-0" style="border: 2px solid #ff6633;">
                <div class="card-body px-5 py-2 text-center">
                            <h6 class="my-2" id="" style="">
        Planning Poker    </h6>
                            <p class="mb-2" id="" style="">
        Planning poker is used for regular iteration planning and for gauging release time estimates. This helps minimize anchoring by collecting and aggregating individual estimates, free of peer influence.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-5" style="">
                        
                            <div class="card h-100 mx-3 shadow card-dotted border-radius-0" style="border: 2px solid #ff6633;">
                <div class="card-body px-5 py-2 text-center">
                            <h6 class="my-2" id="" style="">
        Informative Workspaces    </h6>
                            <p class="mb-2" id="" style="">
        Informative workspaces provide up-to-the minute information on tasks and issues involving you and your team. This accelerates information exchange and makes it possible to position yourself in the process by simply looking around your workspace.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 mb-5" style="">
                        
                            <div class="card h-100 mx-3 shadow card-dotted border-radius-0" style="border: 2px solid #ff6633;">
                <div class="card-body px-5 py-2 text-center">
                            <h6 class="my-2" id="" style="">
        Collective Code Ownership    </h6>
                            <p class="mb-2" id="" style="">
        Strong support for collective code ownership and encouragement to contribute new ideas for any segment of any project. Inputs and interventions are always welcome in any aspect of code structure and design.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            </div>
</div>
                </section>
        
                  {% endblock %}