{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}      
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>cTrader Awards</h1>
							<p class="font-weight-bold">Since its initial release, cTrader has been granted several awards – a fact that highlights the state-of-the-art technology behind the platform. Multiple venues and audiences have elected cTrader over a range of years as one of the best trading platforms available in the market, making it stand out as an ideal choice for any broker.</p>
			</div>
</div>
            <div  class="testimonials-boxes py-5" data-ride="carousel">
    <div class="container">
        <div class="pure-g">
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">International Business Magazine Awards</h5>
                            <h6 class="card-subtitle mb-4">-</h6>
                            <p class="card-text">cTrader has been granted “Best Forex Trading Platform Cyprus 2020” and "Best Multi-Asset Trading Platform Cyprus 2020" by International Business Magazine, a renowned body, acknowledging achievement and contribution to the global Business and Finance industry.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/10-ibm.png' %}" class="card-img-top" alt="International Business Magazine Awards">
                        
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Best Multi-Asset Trading Platform</h5>
                            <h6 class="card-subtitle mb-4">Global Forex Awards 2020 - B2B</h6>
                            <p class="card-text">cTrader has been acknowledged as the best multi-asset trading platform by Global Forex Awards 2020 - a renowned nomination, celebrating businesses that push the boundaries of innovation in B2B forex trading solutions.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/bmatp-gfa-2020.png' %}" class="card-img-top" alt="Best Multi-Asset Trading Platform">
                        
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Best Forex Trading Platform</h5>
                            <h6 class="card-subtitle mb-4">Atoz Markets</h6>
                            <p class="card-text">cTrader has received its “Best Forex Trading Platform” award from AtoZ Markets – a reputable body, conducting annual forex nominations to recognize financial markets’ industry leaders.</p>
                        </div>
                       <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/01-bftp-atoz.png' %}" class="card-img-top" alt="Best Forex Trading Platform">
                       
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Best FX Trading Platform 2018</h5>
                            <h6 class="card-subtitle mb-4">Finance Magnates Awards</h6>
                            <p class="card-text">cTrader was recognized as the Best FX Trading Platform at the Finance Magnates London Summit Awards 2018.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/02-bftp2018-finance-magnets.png' %}" class="card-img-top" alt="Best FX Trading Platform 2018">
                       
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Quality Assurance Conference Awards 2018</h5>
                            <h6 class="card-subtitle mb-4">ISO 27001:2013</h6>
                            <p class="card-text">cTrader has received the award for its outstanding implementation of ISO 27001:2013 for the Information Security Management System it employs. cTrader has been certified with ISO standards since 2012, successfully completing all audits.</p>
                        </div>
                       <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/03-qaca2018-iso.png' %}" class="card-img-top" alt="Quality Assurance Conference Awards 2018">
                        
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Best Mobile Trading Platform 2017</h5>
                            <h6 class="card-subtitle mb-4">China Forex Expo</h6>
                            <p class="card-text">China Forex Expo is one of the biggest forex trading events in China. At each event, prestigious awards are granted for multiple achievements within the forex industry.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/04-bmtp2017-china.png' %}" class="card-img-top" alt="Best Mobile Trading Platform 2017">
                        
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Best FX Platform 2015</h5>
                            <h6 class="card-subtitle mb-4">Forex Bonus Lab</h6>
                            <p class="card-text">Forex Bonus Lab is a web portal, dedicated to reviews of the best brokers and technologies, available to traders. It gives awards to distinguished industry participants.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/05-bfxp2015-fxbonus.png' %}" class="card-img-top" alt="Best FX Platform 2015">
                      
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Best Trading Technology Provider 2013</h5>
                            <h6 class="card-subtitle mb-4">Arabcom Group</h6>
                            <p class="card-text">Arabcom Group is a pioneer in promoting sustainable socio-economic development in the Arab States since 1993. It’s well-known for developing the Telecom and ICT sector in the Arab world since the early nineties, as well as the Online Financial sector, Investments, and many other fields.</p>
                        </div>
                       <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/06-bttp2013-arabcom.png' %}" class="card-img-top" alt="Best Trading Technology Provider 2013">
                       
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Best Retail Platform 2013</h5>
                            <h6 class="card-subtitle mb-4">FX Week e-FX awards</h6>
                            <p class="card-text">FX Week e-FX Awards recognize industry excellence in electronic foreign exchange among banks, brokers, vendors and their buy-side.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/07-brp2013-fxweek.png' %}" class="card-img-top" alt="Best Retail Platform 2013">
                       
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card card-dotted h-100 mx-4 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h5 class="card-title mb-4">Forex Person of the Year</h5>
                            <h6 class="card-subtitle mb-4">FXStreet 2012</h6>
                            <p class="card-text">In 2012, Andrey Pavlov, the CEO of Spotware, has been awarded the Forex Person of the Year award for launching the cTrader trading platform.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/04.awards/_awards/08-fpy2012-fxstreet.png' %}" class="card-img-top" alt="Forex Person of the Year">
                        
                    </div>
                </div>
                    </div>
    </div>
</div>
                </section>
        
                   {% endblock %}