{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>Leadership Team</h1>
							<p class="font-weight-bold">Spotware’s strong leadership team has directed the company to its many accomplishments over the years, and is responsible for creating hundreds of job opportunities along the way, as the company has grown to over 120 people.</p>
			</div>
</div>
            <div  class="testimonials-boxes" data-ride="carousel">
    <div class="container mt-5">

        <div class="pure-g">
            <div class="pure-u-1-4">
                <div class=" orange-title-left">
                    <h2>Key Personnel</h2>
                </div>
            </div>
        </div>

        <div class="pure-g">
                            <div class="pure-u-1-2 mb-5">
                    <div class="card card-dotted h-100 mx-4  px-5 shadow ">
                        <div class="card-body " style=" text-align: center;">
                            <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/03.leadership-team/_team/apavlov.png' %}" class="" alt="Andrey Pavlov">
                            <h2 class="card-title mb-4">Andrey Pavlov</h2>
                            <h4 class="card-subtitle mb-4">Founder and CEO</h4>
                            <p class="card-text">Prior to starting Spotware, Andrey spent over 10 years at NatWest, Citi, Alfabank and EBRD. Following this, he switched to entrepreneurship, specializing in Fintech and trading solutions. Andrey had taken multiple successful exits in the fund management, hosting and liquidity aggregation sectors. In 2010, he founded Spotware, taking the position of its CEO. During this time, he devoted 100% of his time to Spotware and cTrader, the two brands he had been eternally passionate about. Andrey built cTrader to fill a gap in the market, which needed a trader-focused, STP trading platform, instead of numerous workarounds for the legacy product that dominated the market. Today, cTrader is the most current and complete online trading platform available to banks, brokers and exchanges.</p>
                        </div>
                    </div>
                </div>
                            <div class="pure-u-1-2 mb-5">
                    <div class="card card-dotted h-100 mx-4  px-5 shadow ">
                        <div class="card-body " style=" text-align: center;">
                            <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/03.leadership-team/_team/okrachok.png' %}" class="" alt="Elena Krachok">
                            <h2 class="card-title mb-4">Elena Krachok</h2>
                            <h4 class="card-subtitle mb-4">Head of Human Resources</h4>
                            <p class="card-text">Elena’s background in public relations and marketing of technology products, made her ideal for the company’s recruitment needs. She specializes in promoting and upselling the company to the best of the best in their respective field, and helps Spotware acquire its top talent. Elena oversees all employee welfare issues by using her natural instincts and her team to care for our valuable team members. Elena manages a team of 5, who collectively manage the company’s human resources needs.</p>
                        </div>
                    </div>
                </div>
                            <div class="pure-u-1-2 mb-5">
                    <div class="card card-dotted h-100 mx-4  px-5 shadow ">
                        <div class="card-body " style=" text-align: center;">
                            <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/03.leadership-team/_team/ageralis.png' %}" class="" alt="Alexander Geralis">
                            <h2 class="card-title mb-4">Alexander Geralis</h2>
                            <h4 class="card-subtitle mb-4">Business Development Manager</h4>
                            <p class="card-text">Coming from a professional trading background, Alexander has first-hand experience in trading various asset classes. From having traded physical fuel and cryptocurrencies himself, to providing market analysis for the oil and gas sector and being a renowned contributor to such reputable publications as the Cointelegraph, he utilizes his vast expertise and inside-out market understanding to add valuable insight to trading platform needs, deliver outstanding customer experiences and oversee the functioning of marketing and communications in order to have Spotware’s partner network grow to reach their full potential as a brokerage while utilizing Spotware’s solutions.</p>
                        </div>
                    </div>
                </div>
                            <div class="pure-u-1-2 mb-5">
                    <div class="card card-dotted h-100 mx-4  px-5 shadow ">
                        <div class="card-body " style=" text-align: center;">
                            <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/03.leadership-team/_team/pcharalampous.png' %}" class="" alt="Panagiotis Charalampous">
                            <h2 class="card-title mb-4">Panagiotis Charalampous</h2>
                            <h4 class="card-subtitle mb-4">Head of Community Management</h4>
                            <p class="card-text">Panagiotis has over 10 years experience in software development, specializing in c# and Microsoft technologies. These skills, along with his part-time trading experience, made him an ideal candidate for Spotware’s Community Manager. He helps tens of thousands of robot developers using c# to build their automated strategies. He is also responsible for the development and growth of the cTrader Community, helping traders embrace cTrader products and expand their knowledge by realizing the platform’s full potential.</p>
                        </div>
                    </div>
                </div>
                            <div class="pure-u-1-2 mb-5">
                    <div class="card card-dotted h-100 mx-4  px-5 shadow ">
                        <div class="card-body " style=" text-align: center;">
                            <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/03.leadership-team/_team/strelnikov.png' %}" class="" alt="Alexander Strelnikov">
                            <h2 class="card-title mb-4">Alexander Strelnikov</h2>
                            <h4 class="card-subtitle mb-4">Head of Product</h4>
                            <p class="card-text">With over 15 years of financial markets and over 8 years of financial technology experience, Alexander is a valuable and respected member of the Spotware team. Having joined the company in 2012, he brought in his vast expertise, gained through both – occupying leading positions at global financial institutions, as well as owning a brokerage business. He is currently responsible for guiding and controlling all server-side products, adding and developing new functionalities, controlling performance and architecture, as well as making sure Spotware’s products both live up to and surpass the industry’s ever-rising standards.</p>
                        </div>
                    </div>
                </div>
                            <div class="pure-u-1-2 mb-5">
                    <div class="card card-dotted h-100 mx-4  px-5 shadow ">
                        <div class="card-body " style=" text-align: center;">
                            <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/03.leadership-team/_team/avanesov.png' %}" class="" alt="Alex Avanesov">
                            <h2 class="card-title mb-4">Alex Avanesov</h2>
                            <h4 class="card-subtitle mb-4">Head of Network Operations</h4>
                            <p class="card-text">Alex has been managing Spotware’s network operations since March 2012. He played a key role in helping the company scale over the years, and ensured flawless connectivity and data distribution to traders worldwide. Today, Alex manages the day-to-day operations of the company’s physical hardware and global infrastructure. Alex joined Spotware after 10 years as a senior engineer, and later – a network operations manager at PrimeTel PLC, a leading telecommunications provider in Cyprus</p>
                        </div>
                    </div>
                </div>
                            <div class="pure-u-1-2 mb-5">
                    <div class="card card-dotted h-100 mx-4  px-5 shadow ">
                        <div class="card-body " style=" text-align: center;">
                            <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/03.leadership-team/_team/jparnaby.png' %}" class="" alt="John Parnaby">
                            <h2 class="card-title mb-4">John Parnaby</h2>
                            <h4 class="card-subtitle mb-4">Head of Support</h4>
                            <p class="card-text">With nearly 20 years worth of experience under his belt, John is responsible for the smooth operation of Spotware’s Support team. Having worked in customer-facing roles across his entire professional life, John brings along all necessary skills to ensure that Spotware’s clients will continuously be receiving unparalleled support and guidance with any potential enquiry. From a simple everyday request to more complicated system issues, Spotware’s Support team is available around the clock to always assist the company’s clients.</p>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
</div>
                </section>
        
                  {% endblock %}