{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}      
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>About Spotware</h1>
							<p class="font-weight-bold">Developers of trading platforms for brokers that convert, retain and increase the lifetime value of their clients. Specializing in complete out-of-the-box business solutions and complex custom development projects.</p>
			</div>
</div>
            <div class="bg-right-center bg-norepeat" style="min-height:350; background: #fff url({% static 'spotwarectrader/user/pages/05.company/01.about/01.spotware/_whois/top_image.png' %})">
    <div class="container py-5">
        <div class="pure-g">
            <div class="pure-u-5-12 py-5">
                <h2>Who is Spotware</h2>
                <p>Spotware was established in 2010 in Limassol, Cyprus. The company was founded by a FinTech expert and entrepreneur – Andrey Pavlov. At this point, it’s an in-house team of experts in financial technology, who collectively possess over 100 years of industry experience.</p>
            </div>
        </div>
    </div>
</div>

            <div class="bg-cover-center bg-lines">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-1 py-5 grey-text text-center">
                <h4 class="p-0 m-0">Spotware’s mission is to create and supply the most useful, usable and fair trading applications that benefit brokers and traders worldwide.</h4>
            </div>
        </div>
    </div>
</div>
            
<div id=""
     class="bg-white py-5 bg-center"
     style="     min-height:803px;      background-image: url({% static 'spotwarectrader/user/pages/05.company/01.about/01.spotware/_business_scope/grid_images_backround.png' %});          ">

    <div class="container px-2 px-xl-0">
                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-2-3 mb-3" style="">
                        
                            <div class="card h-100 mx-3 border-0 shadow" style="">
                <div class="card-body p-5">
                            <h2 class="mb-2" id="" style="">
        Business Scope    </h2>
                            <p class="mb-2" id="" style="">
        Spotware has been raising the standards of the online trading industry since the release of its first product – cTrader, a solution created to fill the genuine gap in a market, where innovation simply did not exist. We now continue to deliver complete and meaningful solutions that either solve real problems or purely add value to banks, brokers and their clients. Our expertise is available for hire in complex custom development projects.    </p>
                            <div class="" style="height: 32px"></div>                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-3 mb-3" style="">
                        
                            <div class="" style="height: 32px"></div>            
                                </div>
    </div>                            <div class="" style="height: 50px"></div>                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-3 mb-3" style="">
                        
                            <div class="" style="height: 32px"></div>            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-2-3 mb-3" style="">
                        
                            <div class="card h-100 mx-3 border-0 shadow" style="">
                <div class="card-body p-5">
                            <h2 class="mb-2" id="" style="">
        The cTrader Brand    </h2>
                            <p class="mb-2" id="" style="">
        cTrader is Spotware’s flagship trading platform solution and a brand trusted by millions of traders worldwide. Currently, cTrader is made available by dozens of top global brokers, who bought into the Traders First™ approach to boost the credibility of their brand. By offering cTrader, they emphasize their commitment to premium products that improve customer experience tenfold compared to other solutions on the market.    </p>
                            <div class="" style="height: 32px"></div>                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
    </div>            </div>
</div>
            
<div id=""
     class="bg-white py-5"
     style="                    ">

    <div class="container px-2 px-xl-0">
                    <div class="pure-g">
        <div class="pure-u-1-2">
        <div class="orange-title-left mb-5">
            <h2>Our Beliefs</h2>
        </div>
    </div>
</div>                    <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1" style="">
                        
                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-11-24 mb-3" style="">
                        
                            <div class="card h-100 mx-3 border-0 shadow card-dotted" style="">
                <div class="card-body px-5 py-2">
                            <h2 class="mb-2" id="" style="">
        Traders First<sup>TM</sup>    </h2>
                            <p class="mb-2" id="" style="">
        Spotware believes in putting Traders First™, allowing their interests to govern our thinking, strategies and everyday operations. This allows solutions, responsive to current industry demands and equipped towards serving the long-term interests of both – traders and brokers, to be developed. cTrader has been developed intensively over the past seven years to deliver the most value possible.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-12 mb-3" style="">
                        
                            <div class="" style="height: 32px"></div>            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-11-24 mb-3" style="">
                        
                            <div class="card h-100 mx-3 border-0 shadow card-dotted" style="">
                <div class="card-body px-5 py-2">
                            <h2 class="mb-2" id="" style="">
        Best Aligned Interests    </h2>
                            <p class="mb-2" id="" style="">
        Spotware believes in transparency and that’s why all solutions are founded on values that align the interests of traders and brokers. Our business model turns our clients into partners and end users into advocates, ultimately making them company stakeholders, who really do have a say in our roadmap and the future of the products upon which they rely.    </p>
                    </div>
        </div>
            
                                </div>
    </div>                            <div class="" style="height: 40px"></div>                            <div  class="pure-g " style="
        ">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-11-24 mb-3" style="">
                        
                            <div class="card h-100 mx-3 border-0 shadow card-dotted" style="">
                <div class="card-body px-5 py-2">
                            <h2 class="mb-2" id="" style="">
        Innovate to succeed    </h2>
                            <p class="mb-2" id="" style="">
        Success demands innovation. Spotware understands this and has therefore accepted the challenge of continuously developing innovative solutions that benefit the financial industry and adapt to the changing business and regulatory landscape of online trading. This is why cTrader is offered as a whole, cost-effective, end-to-end solution.    </p>
                    </div>
        </div>
            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-12 mb-3" style="">
                        
                            <div class="" style="height: 32px"></div>            
                                </div>
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-11-24 mb-3" style="">
                        
                            <div class="card h-100 mx-3 border-0 shadow card-dotted" style="">
                <div class="card-body px-5 py-2">
                            <h2 class="mb-2" id="" style="">
        Treasured Employees    </h2>
                            <p class="mb-2" id="" style="">
        Spotware only tolerates excellence, this is why we are committed to hiring developers and managers, who are strictly at the top of their respective fields. They are the ones who bring cTrader to life and are the fuel for constant innovation and progress. Nothing short of brand ambassadors of this holistic approach to trading. We ensure that every action on every level is structured to generate and nurture ideas, consult with clients, and then develop them using the latest technologies.    </p>
                    </div>
        </div>
            
                                </div>
    </div>            
                                </div>
    </div>            </div>
</div>
                </section>
        
                  {% endblock %}