{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}      
        
                <section id="body" class=" clearfix">
                        <div class="page-header bg-bottom bg-norepeat bg-waves">
	
	<div class="container">
				<h1>Testimonials</h1>
							<p class="font-weight-bold">Spotware has made a strong impression on the online trading community with its popular trading platform – cTrader. Spotware had also made a significant impact on the industry over the years, and some of the industry’s leaders are here to show for it.</p>
			</div>
</div>
            <div  class="testimonials-boxes" data-ride="carousel">
    <div class="container py-5">
        <div class="pure-g">
                            <div class="pure-u-1-3 mb-4">
                    <div class="card h-100 mx-2 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h4 class="card-title mb-4">Yiannos Xenophontos</h4>
                            <h6 class="card-subtitle mb-4">Chief Dealer, FxPro Financial Services Ltd.</h6>
                            <p class="card-text">As the first broker to offer cTrader, we have witnessed countless updates over the years. All of these have helped us scale with cTrader – the platform of choice for many of our customers today. Thankfully, cTrader has been one step ahead to ensure FxPro would have no friction when managing tens of thousands of trading accounts on cTrader.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/02.testimonials/_testimonials/fxpro.png' %}" class="card-img-top" alt="Yiannos Xenophontos">
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card h-100 mx-2 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h4 class="card-title mb-4">Ilan Azbel</h4>
                            <h6 class="card-subtitle mb-4">CEO, Autochartist</h6>
                            <p class="card-text">Having an active and stable integration with cTrader has been a great advantage for us. It’s a popular platform, in which broker interest is growing by the day. It supports our wide range of languages and regular updates of research. Most importantly, it’s available out-of-the-box, so we can be certain of an efficient deployment for our customers.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/02.testimonials/_testimonials/autochartist.png' %}" class="card-img-top" alt="Ilan Azbel">
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card h-100 mx-2 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h4 class="card-title mb-4">Andrew Saks-Mcleod</h4>
                            <h6 class="card-subtitle mb-4">CEO, Finance Feeds</h6>
                            <p class="card-text">In the ever-evolving FX platform technology sector, innovation and continual focus on technological R&D are fundamental. cTrader is one of the first new-generation platforms, which allows traders to develop their own software and apps. cTrader’s continual updates and interactions with developers make it stand out as an avantgarde platform provider.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/02.testimonials/_testimonials/financefeeds.png' %}" class="card-img-top" alt="Andrew Saks-Mcleod">
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card h-100 mx-2 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h4 class="card-title mb-4">Stefan Pajkovic</h4>
                            <h6 class="card-subtitle mb-4">CEO, Tradecore</h6>
                            <p class="card-text">We found cTrader to be incredibly straightforward to integrate with. Able to support the full range of our features, thanks to a comprehensive API, it ensured our project was successfully completed in no time. Because of the consistent nature of cTrader solutions, we can deliver ours in a matter of days.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/02.testimonials/_testimonials/tradecore.png' %}" class="card-img-top" alt="Stefan Pajkovic">
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card h-100 mx-2 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h4 class="card-title mb-4">Kevin Murcko</h4>
                            <h6 class="card-subtitle mb-4">CEO, FXPIG</h6>
                            <p class="card-text">Its SAAS-style setup means we did not have to hire new staff or retrain current staff on a new infrastructure. It also meant that our time to market was significantly lower than with other comparable solutions. When it comes down to day-to-day operations, the support staff at Spotware are attentive and knowledgeable, and unlike one of their *cough* main competitors, the replies we receive are always helpful and the vast majority of issues get resolved quickly, usually just after one initial contact.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/02.testimonials/_testimonials/fxpig.png' %}" class="card-img-top" alt="Kevin Murcko">
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card h-100 mx-2 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h4 class="card-title mb-4">Michael Turck</h4>
                            <h6 class="card-subtitle mb-4">Global Head of Liquidity and Sales, Tradeview Markets</h6>
                            <p class="card-text">Tradeview Markets cTrader Suite was delivered in 6 days. It was an effortless process for us to set up and configure. Over the past 12 months we have been impressed with the level of support and speed of troubleshooting assistance we have received, even while operating in a totally different time zone. This allows us to help our clients faster and reflects great on us.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/02.testimonials/_testimonials/tradeview.png' %}" class="card-img-top" alt="Michael Turck">
                    </div>
                </div>
                            <div class="pure-u-1-3 mb-4">
                    <div class="card h-100 mx-2 shadow ">
                        <div class="card-body" style=" text-align: center;">
                            <h4 class="card-title mb-4">Gavin Mak</h4>
                            <h6 class="card-subtitle mb-4">Vice President, VP Technology Limited</h6>
                            <p class="card-text">Due to the demand from our existing clients, we are happy to combine our market-leading services in the Asia Pacific region with another industry leader. cTrader is a very high-quality product that benefits both, brokers and traders, and we believe it will elevate the online trading industry standards in China and the rest of the world by providing more transparency and reliability.</p>
                        </div>
                        <img src="{% static 'spotwarectrader/user/pages/05.company/01.about/02.testimonials/_testimonials/vp_technology.png' %}" class="card-img-top" alt="Gavin Mak">
                    </div>
                </div>
                    </div>
    </div>
</div>
                </section>
        
                  {% endblock %}